<div class="modal fade" id="modal-login" tabindex="-1">
	<div class="modal-dialog">
	  <div class="modal-content">
		<button class="modal-close close" data-dismiss="modal" type="button"></button>
		<div class="enter-box">
		  <div class="enter-box__title">Вход</div>
		  <div class="validation-wrap">
			<form id="login_form" class="enter-box__form" action="{{ route('ajaxlogin') }}" novalidate="novalidate">
			  <a class="enter-box__social btn btn-fb btn-block" href="{{ route('socialite.redirect',{'provider': 'facebook'}) }}"><span class="btn-icon icon-facebook"></span>Войти&#32; через Facebook</a>
			  <div class="enter-box__separator">
				<div class="enter-box__separator-text">или</div>
			  </div>

			  <div style="{{ social_auth_error ? 'display: block;' : '' }}" class="server-message-box login {{ social_auth_error ? 'error' : '' }}">{{ social_auth_error }}</div> 
			  <div class="form-group">
				<input name="user_email" class="form-control" type="email" placeholder="Эл. почта" required="required">
				<div class="error-message">Введите электронную почту</div>
			  </div>
			  <div class="form-group">
				<input name="user_password" class="form-control" type="password" placeholder="Пароль" required="required">
				<div class="error-message">Введите пароль</div>
			  </div>
			  <div class="form-group">
				<button id="login_form_submit" class="enter-box__button btn btn-block" type="submit">Войти</button>
			  </div>
			   <div class="enter-box__footer">
				<div class="enter-box__footer-row">
				  <a class="enter-box__footer-link modal-link" href="#modal-pass-recovery" data-toggle="modal" data-dismiss="modal">Забыли пароль?</a>
				</div>
				<div class="enter-box__footer-row">Впервые здесь?
				  <a class="enter-box__footer-link modal-link" href="#modal-registration" data-toggle="modal" data-dismiss="modal">Зарегистрируйтесь</a>
				</div>
			  </div>
			</form>
		  </div>
		</div>
	  </div>
	</div>
</div>