{% extends 'layout' %}

{% block content %}


    {% include 'partials.index.about' %}
    {% include 'partials.index.technique' %}
    {% include 'partials.index.contingent' %}
    {% include 'partials.index.problems' %}
    {% include 'partials.index.biography' %}
    {% include 'partials.index.video' %}
    {% include 'partials.index.program' %}
    {% include 'partials.index.especially' %}
    {% if not paid_videos %}
        {% include 'partials.index.format' with {'packages': packages, 'is_not_payed': not is_paid, 'is_cabinet': 1} %}
    {% endif %}
    {#{% include 'partials.index.format' %}#}
    {% include 'partials.index.invited' %}
    {% include 'partials.index.opinion' %}
    {% include 'partials.index.question' %}
    {% include 'partials.index.formula' %}
    {% include 'partials.index.certificate' %}
    {% include 'partials.index.knowledge' %}


{% endblock %}

