{% set ver = '?v=003' %}
<!DOCTYPE html>
<html>
	<head>
		{% include 'includes.gtag' %}
		{{ seo_render() }}
		<meta charset="UTF-8">
		<meta content="width=device-width,minimum-scale=1,maximum-scale=1" name="viewport">
		<meta name="theme-color" content="#000000">
		<meta property="og:title" content="Онлайн-курс «Персональный бренд как инструмент роста» от Нины Левчук">
		<meta property="og:type" content="website">
		<meta property="og:url" content="{{ config('app.url') }}">
		<meta property="og:description" content="Курс для тех кто хочет создать, продвигать и эффективно управлять своим персональным брендом">
		<meta property="og:image" content="{{ config('app.url') }}/assets/images/og.png">
		<meta property="og:site_name" content="{{ siteName }}">
		<meta property="fb:app_id" content="806056866104435">
		<link rel="shortcut icon" href="/assets/images/favicon.png">
		<link href="/assets/css/style.css{{ ver }}" rel="stylesheet">
	</head>
	<body class="{% block body_class%}{% endblock %}">
		{% include 'partials.telegram' %}

		{% include 'partials.header' %}

		{% block content%}{% endblock %}

		{% include 'partials.footer' %}

		{% include 'partials.modals' %}

		{% include 'pay.form' %}

		<meta name="_token" content="{{ csrf_token() }}" />
		<script src="//fast.wistia.net/assets/external/E-v1.js" async></script>
		<script type="text/javascript" src="/assets/js/general.js{{ ver }}"></script>
		<script type="text/javascript">
			{% if(popup_url) %}
				window.location_hash = "{{ popup_url }}";
			{% endif %}
			{% if(url_purchased_video) %}
				window.url_purchased_video = "{{ url_purchased_video }}";
			{% endif %}
			{% if(order_to_pay) %}
				window.order_to_pay = "{{ order_to_pay }}";
			{% endif %}
            {% if(request_phone) %}
            	window.request_phone = {{ request_phone|json_encode()|raw }}
            {% endif %}
		</script>
	</body>
</html>
