{% extends 'admin::layout' %}

{% block content %}

    {% embed 'admin::emb.top_btn' %}
        {% block main %}
            <a class="btn btn-default waves-effect waves-light" href="{{ route('admin/example_edit') }}"><i class="fa fa-plus-circle">&nbsp;&nbsp;</i>{{ trans('admin/example.add_btn') }}</a>
            {% if items|length > 1 %}
                <a class="btn btn-default waves-effect waves-light" href="{{ route('admin/example_sort') }}"><i class="fa fa-arrows-v">&nbsp;&nbsp;</i>{{ trans('admin/example.sort_btn') }}</a>
            {% endif %}
        {% endblock %}
    {% endembed %}

    {% embed 'admin::emb.filter' %}
        {% block main %}
            {% include 'admin::inc.filter_q' %}
            <div class="form-group">
                <label class="col-sm-2 control-label">{{ trans('admin/example.visible') }}</label>
                <div class="col-sm-10">
                    <select class="form-control" name="visible">
                        <option value="">{{ trans('admin::common.all') }}</option>
                        <option value="1" {% if filter.visible == 1 %}selected{% endif %}>{{ trans('admin/example.published') }}</option>
                        <option value="2" {% if filter.visible == 2 %}selected{% endif %}>{{ trans('admin/example.hidden') }}</option>
                    </select>
                </div>
            </div>
        {% endblock %}
    {% endembed %}

    <div class="row">
        <div class="col-sm-12">
            <div class="card-box table-responsive table-article-list">
                {% if items|length %}
                    <table id="datatable" class="table table-striped table-bordered ent-table">
                        <thead>
                        <tr>
                            <th>
                                <div class="checkbox checkbox-custom">
                                    <input type="checkbox">
                                    <label></label>
                                </div>
                            </th>
                            <th class="sortable" data-by="id">#</th>
                            <th>{{ trans('admin::common.action') }}</th>
                            <th class="sortable" data-by="abc">{{ trans('admin/example.f_title') }}</th>
                            <th>{{ trans('admin::common.created') }}</th>
                            <th>{{ trans('admin::common.modified') }}</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for item in items %}
                            <tr>
                                <td>
                                    <div class="checkbox checkbox-custom">
                                        <input type="checkbox" value="{{ item.id }}">
                                        <label></label>
                                    </div>
                                </td>
                                <td>{{ item.id }}</td>
                                <td class="text-nowrap">
                                    <a href="{{ route('admin/example_edit', {id: item.id}) }}"><i class="fa fa-pencil"></i></a>
                                    <span class="action-tuple">
                                        <a href="#" data-action="hide"><i class="fa fa-eye {{ item.is_published ? 'on' : 'off' }}"></i></a>
                                        <a href="#" data-action="publish"><i class="fa fa-eye-slash {{ item.is_published ? 'off' : 'on' }}"></i></a>
                                    </span>
                                    <a href="#" data-action="delete"><i class="fa fa-trash-o"></i></a>
                                </td>
                                <td><a href="{{ route('admin/example_edit', {id: item.id}) }}" class="name-link">{{ item.trans('title') }}</a></td>
                                <td>{{ item.created_at|date('Y-m-d') }}</td>
                                <td>{{ item.updated_at|date('Y-m-d') }}</td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                {% else %}
                    {{ trans('admin::common.empty') }}
                {% endif %}

                {% include 'admin::inc.pagination'  with {paginator: items} %}
            </div>

            {% if items|length %}
                {% embed 'admin::emb.group_action' with {url: route('admin/example_action')} %}
                    {% block menu %}
                        <li><a href="#" data-action="delete"><i class="fa fa-trash-o">&nbsp;&nbsp;</i>{{ trans('admin::common.delete') }}</a></li>
                        <li><a href="#" data-action="publish"><i class="fa fa-eye">&nbsp;&nbsp;</i>{{ trans('admin::common.publish') }}</a></li>
                        <li><a href="#" data-action="hide"><i class="fa fa-eye-slash">&nbsp;&nbsp;</i>{{ trans('admin::common.hide') }}</a></li>
                    {% endblock %}
                {% endembed %}
            {% endif %}

        </div>
    </div>

{% endblock %}
