{% extends 'admin::layout' %}

{% block content %}

    <div class="card-box">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-12">
                <form id="attributeForm" method="post" class="form-horizontal"
                      data-bv-message="This value is not valid"
                      data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
                      data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
                      data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">
                    {{ csrf_field() }}
					{% for package in packages %}
						{% set package_param_name = 'course_package_' ~ package.code ~ '_price' %}	
						<div class="form-group">
							<label class="col-sm-2 control-label" for="option_{{ package_param_name }}">{{ trans('admin/option.course_package_price') }} {{ package.name }}</label>
							<div class="col-sm-10">
								<input type="text" id="option_{{ package_param_name }}" name="{{ package_param_name }}" class="form-control input-sm"
									   placeholder=""
									   value="{{ old(package_param_name) ? old(package_param_name) : options[package_param_name] }}">
								<p>{{ trans('admin/option.course_package_price_description') }}</p>
							</div>
						</div>
					{% endfor %}	
					<div class="form-group">
                        <label class="col-sm-2 control-label" for="option_course_expires">{{ trans('admin/option.course_expires') }}</label>
                        <div class="col-sm-10">
                            <input type="text" id="option_course_expires" name="course_expires" class="form-control input-sm"
                                   placeholder=""
                                   value="{{ old('course_expires') ? old('course_expires') : options.course_expires }}">
                            <p>{{ trans('admin/option.course_expires_description') }}</p>
                        </div>
                    </div>
					<div class="form-group">
                        <label class="col-sm-2 control-label" for="option_course_price_rate">{{ trans('admin/option.course_price_rate') }}<span class="please-fill">*</span></label>
                        <div class="col-sm-10">
                            <input type="text" id="option_course_price_rate" name="course_price_rate" required class="form-control input-sm"
                                   placeholder=""
                                   value="{{ old('course_price_rate') ? old('course_price_rate') : options.course_price_rate }}">
                            <p>{{ trans('admin/option.course_price_rate_description') }}</p>
                        </div>
                    </div>	
					<div class="form-group">
                        <label class="col-sm-2 control-label" for="adminmail">{{ trans('admin::option.admin_email') }}
                            <span class="please-fill">*</span></label>
                        <div class="col-sm-10">
                            <input type="email" id="adminmail" name="admin_email" required class="form-control input-sm"
                                   placeholder=""
                                   value="{{ old('admin_email') ? old('admin_email') : options.admin_email }}"
                                   data-bv-emailaddress="true"
                                   data-bv-emailaddress-message="{{ trans('admin::option.email_not_valid') }}"
                                   data-bv-notempty-message='{{ trans('admin::option.email_notempty_message') }}'>
                            <p>{{ trans('admin::option.admin_email_description') }}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"
                               for="dop-admin-mail">{{ trans('admin::option.admin_email_ex') }} </label>
                        <div class="col-sm-10">
                            <input type="text" id="dop-admin-mail" name="admin_email_d" class="form-control input-sm"
                                   placeholder=""
                                   value="{{ old('admin_email_d') ? old('admin_email_d') : options.admin_email_d }}">
                            <p>{{ trans('admin::option.admin_email_ex_description') }}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"
                               for="login_page">{{ trans('admin::option.login_page') }} </label>
                        <div class="col-sm-10">
                            <select class="form-control" name="start_admin_page">
                                {% for section in layout.menu %}
                                    <optgroup label="{{ section.getName() }}">
                                        {% set nested = section.hasItems() %}
                                        {% if nested %}
                                            {% for item in section.getItems() %}
                                                <option value="{{ item.getRelativeLink() }}"
                                                        {% if options.start_admin_page == item.getRelativeLink() %}selected{% endif %}>{{ item.getName() }}</option>
                                            {% endfor %}
                                        {% else %}
                                            <option value="{{ section.getRelativeLink() }}"
                                                    {% if options.start_admin_page == section.getRelativeLink() %}selected{% endif %}>{{ section.getName() }}</option>
                                        {% endif %}
                                    </optgroup>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-md-2 col-lg-2"></div>
                        <div class="col-sm-10 col-md-10 col-lg-10 save-inf">
                            {% include 'admin::inc.buttonsubmit' %}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script src="{{ asset('vendor/admin/plugins/bootstrapvalidator/dist/js/bootstrapValidator.js') }}"
            type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            $('#attributeForm').bootstrapValidator();
        });
    </script>
{% endblock %}