<footer class="footer section">

    <div class="row footer__contacts">

        <div class="tiny-12 small-12 medium-4 large-4 columns">

            <div class="footer__contacts__item questions">
                <a href="/#question" class="questions__link" data-action="scrollTo" data-target="#question">Вопросы и ответы</a>

                <ul class="questions__list">
                    <li><a href="https://superludi.com/terms/" target="_blank">Условия оказания услуг</a></li>
                    <li><a href="https://superludi.com/privacy/" target="_blank">Политика конфиденциальности</a></li>
                    <li><a href="https://superludi.com/disclaimer/" target="_blank">Авторское право</a></li>
                </ul>

            </div>

        </div>

        <div class="tiny-12 small-6 medium-4 large-4 columns">

            <div class="footer__contacts__item supports">
                <p>Поддержка</p>
                <ul>
                    <li>
                        <a href="mailto:info@superludi.com">info@superludi.com</a>
                    </li>
                    <li>
                        <a href="tel:0800210791">0 800 210 791 (Украина)</a>
                    </li>
                    <li>
                        бесплатно по Украине
                    </li>
                    <li>
                        <a href="tel:74997031623">+7 499 703 16 23 (СНГ)</a>
                    </li>
                </ul>
            </div>

        </div>

        <div class="tiny-12 small-6 medium-4 large-4 columns">

            <div class="footer__contacts__item accept">
                <p>Мы принимаем</p>
                <div class="accept__cards">
                    <a href="javascript:void(0)">
                        <img src="assets/images/visa.png"/>
                    </a>
                    <a href="javascript:void(0)">
                        <img src="assets/images/mastercard.png"/>
                    </a>
                </div>

                <div class="accept__content">
                    <p>
                        При осуществлении оплаты картами Visa и Mastercard
                        необходимо учитывать комиссию за
                        конвертацию валюты, а также скрытые комиссии банка.
                        Обращаем ваше внимание, что все расчеты производятся в
                        национальной валюте.
                    </p>
                </div>
            </div>

        </div>

    </div>

    <div class="row">

        <div class="column tiny-12 medium-7">
            <p class="footer__copyright">© 2018 Суперлюди<sup><small>тм</small></sup>. Все права защищены</p>
        </div>
    </div>

</footer>
