<div class="modal-info" id="modalEnter" data-reveal>

    <div class="modal-dialog">
        <div class="modal-content">
            <button class="modal-close close" data-close type="button"></button>
            <div class="enter-box">
                <div class="enter-box__title">Вход</div>
                <div class="validation-wrap">
                    <form id="login_form" class="enter-box__form" action="{{ route('ajaxlogin') }}">

                      <a class="enter-box__social btn btn-fb btn-block" href="{{ route('socialite.redirect',{'provider': 'facebook'}) }}"><span class="btn-icon icon-facebook"></span>Войти&#32; через Facebook</a>
                        <div class="enter-box__separator">
                            <div class="enter-box__separator-text">или</div>
                        </div>

                        <div style="{{ social_auth_error ? 'display: block;' : '' }}" class="server-message-box login {{ social_auth_error ? 'error' : '' }}">{{ social_auth_error }}</div>
                        <div class="form-group">
                            <input name="user_email" class="form-control" type="email" placeholder="Эл. почта">
                            <div class="error-message">Введите электронную почту</div>
                        </div>
                        <div class="form-group">
                            <input name="user_password" class="form-control" type="password" placeholder="Пароль">
                            <div class="error-message">Введите пароль</div>
                        </div>
                        <div class="form-group">
                            <button id="login_form_submit" class="enter-box__button btn btn-block" type="submit">Войти</button>
                        </div>
                        <div class="enter-box__footer">
                            <div class="enter-box__footer-row">
                                <a class="enter-box__footer-link modal-link" href="#modal-pass-recovery" data-action="openModal" data-target="#modal-pass-recovery">Забыли пароль?</a>
                            </div>
                            {#<div class="enter-box__footer-row">Впервые здесь?
                                <a class="enter-box__footer-link modal-link" href="#modal-registration" data-action="openModal" data-target="#modal-registration">Зарегистрируйтесь</a>
                            </div>#}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

<div class=" modal-info" id="modal-registration" data-reveal>

    <div class="modal-dialog">
        <div class="modal-content">
            <button class="modal-close close" data-close aria-label="Close modal" type="button"></button>
            <div class="enter-box">
                <div class="enter-box__title">Регистрация</div>
                <div class="validation-wrap">
                    <form id="form_registration" action="{{ route('user_registration') }}" class="enter-box__form" novalidate="novalidate">
                    <a class="enter-box__social btn btn-fb btn-block" href="{{ route('socialite.redirect',{'provider': 'facebook'}) }}"><span class="btn-icon icon-facebook"></span>Регистрация  через Facebook</a>
                        <div class="enter-box__separator">
                            <div class="enter-box__separator-text">или</div>
                        </div>
                        <div class="server-message-box form-registration"></div>
                        <div class="form-group">
                            <input name="user_email" class="form-control" type="email" placeholder="Эл. почта">
                            <div class="error-message">Введите электронную почту</div>
                        </div>
                        <div class="form-group">
                            <input name="user_password" class="form-control" type="password" placeholder="Пароль">
                            <div class="error-message">Введите пароль</div>
                        </div>
                       <!-- <div class="form-group">
                            <input name="promocode" class="form-control" type="text" placeholder="Промокод">
                        </div>
                       -->
                        <div class="form-group" id="user_agree_div">
                            <input name="user_agree" id="user_agree"  type="checkbox" value="true" >
                            <label for="user_agree" class="user_agree_span">Я прочел(-ла) и принимаю
                                <a href="https://superludi.com/terms/" target="_blank">Условия оказания услуг</a> </br> и
                                <a href="https://superludi.com/privacy/" target="_blank">Политику конфиденциальности</a>.</label>
                            <div class="error-message">Для того, чтобы продолжить, Вам нужно принять Условия соглашения.</div>
                        </div>
                        <div class="form-group">
                            <button id="form_registration_button" class="enter-box__button btn btn-block" type="submit"  >Зарегистрироваться</button>
                        </div>
                        <div class="enter-box__footer">
                            <div class="enter-box__footer-row">Уже зарегистрированы?
                                <a class="enter-box__footer-link modal-link" data-action="openModal" data-target="#modalEnter">Войдите</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

<div class=" modal-info" id="modal-pass-recovery" data-reveal>

    <div class="modal-dialog">
        <div class="modal-content">
            <button class="modal-close close" data-close aria-label="Close modal" type="button"></button>
            <div class="pass-recovery">
                <div class="validation-wrap">
                    <form id="form_pass_recovery" action="{{ route('password_reset') }}" class="pass-recovery__form" novalidate="novalidate">
                        <div class="pass-recovery__title">Восстановление пароля</div>
                        <div class="pass-recovery__text">Новый пароль будет отправлен на почту</div>
                        <div class="form-group">
                            <input class="form-control" name="user_email" type="email" placeholder="Эл. почта">
                            <div id="pass_recovery_error_message_client" class="error-message">Введите электронную почту</div>
                        </div>
                        <div class="server-message-box form-pass-recovery"></div>
                        <button class="btn btn-block" type="submit">Отправить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="modal-info" id="modal-phone" data-reveal>

    <div class="modal-dialog">
        <div class="modal-content">
            <button class="modal-close close"  data-close aria-label="Close modal" type="button"></button>
            <div class="phone-box">
                <div class="phone-box__title">Последний шаг</div>
                <div class="phone-box__label">Вы вошли как</div>
                <div class="phone-box__user">
                    {% if request_phone.avatar %}
                        <div class="phone-box__user-image">
                            <img class="phone-box__user-image-i" src="{{ request_phone.avatar }}" alt="user" role="presentation">
                        </div>
                    {% endif %}
                    <div id="modal_phone_user_label" class="phone-box__user-label">{{ request_phone.name }}</div>
                </div>
                <div class="validation-wrap">
                    <form id="form_request_phone" action="{{ route('user_create') }}" class="phone-box__form" novalidate="novalidate">
                        <div class="server-message-box form-request-phone"></div>
                        <div class="form-group">
                            <input name="user_phone" class="form-control" type="tel">
                            <div class="error-message">Введите номер телефона</div>
                        </div>
                        <div class="form-group">
                            <button id="form_request_phone_button" class="phone-box__button btn btn-block btn-green" type="submit">Войти</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class=" modal-info" id="modal-pass-success" data-reveal>

    <div class="modal-dialog">
        <div class="modal-content">
            <button class="modal-close close" data-close aria-label="Close modal" type="button"></button>
            <div class="pass-recovery">
                <div class="pass-recovery__title">Новый пароль отправлен</div>
                <div class="pass-recovery__text">Ваш новый пароль автоматически активируется, если вы его используете при входе</div>
            </div>
        </div>
    </div>

</div>

<!--video-about-->

<div class="modal-video" id="aboutVideo" data-reveal>

    <div class="videoframe">
        <img src="assets/images/placehoder-16x9.svg" />
        <iframe src="https://player.vimeo.com/video/280324320?loop=1" width="640" height="360" frameborder="0" allowfullscreen></iframe>
    </div>

</div>

<!--payment-->

<div class="modal-info" id="modal-buy-course" data-reveal>
    <div class="modal-dialog">
        <div class="modal-content">
            <button class="modal-close close" data-close aria-label="Close modal" type="button"></button>
            <div class="buy-box">
                <div class="buy-box__wrapper">
                    <div class="buy-box__label">Онлайн-курс</div>
                    <h2 class="buy-box__title">Персональный бренд</h2>
                    <div class="buy-box__steps">
                        <ol class="step-nav">
                            <li class="step-nav__item active">
                                <a class="step-nav__link" href="/">Личные данные</a>
                            </li>
                            <li class="step-nav__item">
                                <a class="step-nav__link" href="/">Оплата</a>
                            </li>
                            <li class="step-nav__item">
                                <a class="step-nav__link" href="/">Доступ к видео</a>
                            </li>
                        </ol>
                    </div>
                    <div class="validation-wrap">
                        <form id="checkout_step_first" action="{{ route('user_create') }}" action-paying="{{ route('order_create') }}" class="buy-box__form" novalidate="novalidate">
                            <div class="server-message-box"></div>
                            <div class="form-group">
                                <input name="user_name" class="form-control" type="text" placeholder="Имя" required="required">
                                <div class="error-message">Введите имя</div>
                            </div>
                            <div class="form-group">
                                <div class="intl-tel-input allow-dropdown">
                                    <input name="user_phone" class="form-control" type="tel" required="required" autocomplete="off"  >
                                </div>
                                <div class="error-message">Введите номер телефона</div>
                            </div>
                            <div class="form-group">
                                <input name="user_email" class="form-control" type="email" placeholder="Эл. почта" required="required">
                                <div class="error-message">Введите электронную почту</div>
                            </div>
                            <div class="form-group" id="user_agree_checkout_step_first_div">
                                <div class="form-group text-center">
                                    <input name="user_agree" id="user_agree_checkout_step_first"  type="checkbox" value="true" >
                                    <label for="user_agree_checkout_step_first" class="user_agree_span">Я прочел(-ла) и принимаю
                                        <a href="https://superludi.com/terms/"  target="_blank">Условия оказания услуг</a> </br> и
                                        <a href="https://superludi.com/privacy/" target="_blank">Политику конфиденциальности</a>.</label>
                                    <div class="error-message">Для того, чтобы продолжить, Вам нужно принять Условия соглашения.</div>
                                </div>
                                <div class="buy-box__form-footer">
                                    <button class="buy-box__button btn btn-green btn-block" type="submit">Продолжить</button>
                                </div>
                                <div class="buy-box__message">Сразу после подтверждения оплаты вы получите доступ к просмотру видео</div>
                        </form>
                        <a style="display: none;" id="modal_buy_course_second_step_show"  data-target="#modal-buy-course-second-step" data-action="openModal">Купить</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-info" id="modal-buy-course-second-step" data-reveal>
    <div class="modal-dialog">
        <div class="modal-content">
            <button class="modal-close close" type="button" data-close></button>
            <div class="buy-box">
                <div class="buy-box__wrapper">
                    <div class="buy-box__label">Онлайн-курс</div>
                    <h2 class="buy-box__title">Персональный бренд</h2>
                    <div class="buy-box__steps">
                        <ol class="step-nav">
                            <li class="step-nav__item">
                                <a class="step-nav__link" href="/">Личные данные</a>
                            </li>
                            <li class="step-nav__item active">
                                <a class="step-nav__link" href="/">Оплата</a>
                            </li>
                            <li class="step-nav__item">
                                <a class="step-nav__link" href="/">Доступ к видео</a>
                            </li>
                        </ol>
                    </div>
                    <div class="buy-box__info">
                        <div id="auth_order_in_progress">
                            <div class="buy-box__info-text">
                                <br>
                                <div class="server-message-box"></div>
                                <span class="js-message-pay-in-progress">Выполняется перенаправление на систему оплаты...</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<a style="display: none;" data-action="openModal" data-target="#modal-buy-course-3">Show modal buy course step 3 </a>

<div class="modal-info" id="modal-buy-course-3" data-reveal>
    <div class="modal-dialog">
        <div class="modal-content">
            <button class="modal-close close" data-close aria-label="Close modal" type="button"></button>
            <div class="buy-box">
                <div class="buy-box__wrapper">
                    <div class="buy-box__label">Онлайн-курс</div>
                    <h2 class="buy-box__title">Персональный бренд</h2>
                    <div class="buy-box__steps">
                        <ol class="step-nav">
                            <li class="step-nav__item">
                                <a class="step-nav__link" href="/">Личные данные</a>
                            </li>
                            <li class="step-nav__item">
                                <a class="step-nav__link" href="/">Оплата</a>
                            </li>
                            <li class="step-nav__item active">
                                <a class="step-nav__link" href="/">Доступ к видео</a>
                            </li>
                        </ol>
                    </div>
                    <div class="buy-box__info">
                        <div class="buy-box__info-title">Оплата прошла успешно</div>
                        <div class="buy-box__info-text">Материалы уже доступны в личном кабинете.&#32;</div>
                        <!--a class="btn btn-block btn-green modal-link" href="#modal-login" data-toggle="modal" data-dismiss="modal">Войти</a-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<a style="display: none;" data-action="openModal" data-target="#modal-buy-course-second-step-fail">Show modal buy course second step fail</a>

<div class="modal-info" id="modal-buy-course-second-step-fail" data-reveal>
    <div class="modal-dialog">
        <div class="modal-content">
            <button class="modal-close close" data-close aria-label="Close modal" type="button"></button>
            <div class="buy-box">
                <div class="buy-box__wrapper">
                    <div class="buy-box__label">Онлайн-курс</div>
                    <h2 class="buy-box__title">Персональный бренд</h2>
                    <div class="buy-box__steps">
                        <ol class="step-nav">
                            <li class="step-nav__item">
                                <a class="step-nav__link" href="/">Личные данные</a>
                            </li>
                            <li class="step-nav__item active">
                                <a class="step-nav__link" href="/">Оплата</a>
                            </li>
                            <li class="step-nav__item">
                                <a class="step-nav__link" href="/">Доступ к видео</a>
                            </li>
                        </ol>
                    </div>
                    <div class="buy-box__info">
                        <div class="buy-box__info-title error">Оплата завершилась ошибкой</div>
                        <div class="buy-box__info-text">Приносим извинения за неудобства. Пожалуйста, свяжитесь с администрацией сайта или попытайеть оплатить заказ снова.&#32;</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<a style="display: none;" data-action="openModal" data-target="#modal-buy-course-second-step-no-payment-confirmation">Show modal buy course second step no payment confirmation</a>

<div class="modal-info" id="modal-buy-course-second-step-no-payment-confirmation" data-reveal>
    <div class="modal-dialog">
        <div class="modal-content">
            <button class="modal-close close" data-close aria-label="Close modal" type="button"></button>
            <div class="buy-box">
                <div class="buy-box__wrapper">
                    <div class="buy-box__label">Онлайн-курс</div>
                    <h2 class="buy-box__title">Персональный бренд</h2>
                    <div class="buy-box__steps">
                        <ol class="step-nav">
                            <li class="step-nav__item">
                                <a class="step-nav__link" href="/">Личные данные</a>
                            </li>
                            <li class="step-nav__item active">
                                <a class="step-nav__link" href="/">Оплата</a>
                            </li>
                            <li class="step-nav__item">
                                <a class="step-nav__link" href="/">Доступ к видео</a>
                            </li>
                        </ol>
                    </div>
                    <div class="buy-box__info">
                        <div class="buy-box__info-title error">Нет подтверждения оплаты</div>
                        <div class="buy-box__info-text">
                            К сожалению, на текущий момент, мы не получили подтверждения оплаты.
                            Пожалуйста, подождите некоторое время или свяжитесь с администрацией сайта.&#32;
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>