{#TODO#}
<section class="section__telegram-banner">
    <div class="telegram-banner">
        <div class="telegram-banner__item">
            <div class="telegram-banner__item-img">
                <svg xmlns="http://www.w3.org/2000/svg" width="27" height="28" viewBox="0 0 27 28" fill="none">
                    <path d="M26.5019 0.962207C26.0622 0.35058 25.3803 0 24.6305 0C24.1462 0 23.6447 0.143468 23.1391 0.426089L1.61391 12.4418C0.0839962 13.2972 -0.0223887 14.5852 0.002941 15.0987C0.0272575 15.6154 0.261304 16.8828 1.8662 17.5613L4.617 18.7199C5.1388 18.9399 5.72239 19.0532 6.35057 19.0532C6.44986 19.0532 6.5451 19.0392 6.64338 19.0338C6.60589 19.0856 6.5603 19.1255 6.52585 19.1794C6.01318 19.996 5.98785 21.1027 6.45189 22.2947C6.45898 22.3152 6.46607 22.3325 6.47317 22.3497C7.28676 24.2688 8.19153 26.4348 8.30096 26.7358C8.57047 27.4844 9.25741 28 10.0112 28C11.1723 28 11.5168 27.4046 13.4165 24.1123C13.5645 23.8707 13.8938 23.3098 13.9495 22.5957C14.1714 22.6917 14.3801 22.7801 14.5584 22.8567L17.6061 24.1792C18.217 24.4446 18.752 24.6787 19.0337 24.8027C19.1208 24.8599 19.213 24.9084 19.3093 24.9505C19.5241 25.0411 19.753 25.0875 19.983 25.0875C21.3691 25.0875 21.7014 23.8092 21.8797 23.1242C21.9679 22.7855 22.0894 22.3163 22.2201 21.7985L26.8687 3.61367C27.2192 2.24047 26.7886 1.36349 26.5019 0.962207ZM11.8816 23.0768C11.8816 23.0768 10.1571 26.0659 10.0102 26.0659C10.0062 26.0659 10.0041 26.0637 10.0021 26.0594C9.8329 25.5751 8.12872 21.5547 8.12872 21.5547C7.81463 20.7489 7.87137 20.0586 8.4114 20.0586C8.52994 20.0586 8.67179 20.092 8.83795 20.1653L10.1612 20.8978C10.382 21.0585 10.6232 21.1977 10.8886 21.3088L10.9555 21.3357L11.0801 21.4026C12.1024 21.9787 12.4277 22.1868 11.8816 23.0768ZM25.1158 3.10452L20.4694 21.2894C20.2069 22.3141 19.9881 23.1523 19.984 23.1523C19.98 23.1501 19.9749 23.1307 19.9749 23.1275C19.9749 23.121 19.2171 22.7909 18.291 22.3875L15.2413 21.065C14.3152 20.6659 12.7965 20.0197 11.8654 19.6379L11.7114 19.5721L11.1419 19.2571C10.5776 18.7965 10.5279 18.0371 11.0953 17.3931L20.5301 6.63728C20.9091 6.20688 21.0519 5.98467 20.9699 5.98467C20.905 5.98467 20.6953 6.12813 20.3447 6.42046L8.40734 16.446C7.88656 16.8785 7.09526 17.1202 6.35158 17.1202C5.97062 17.1202 5.60081 17.0554 5.28571 16.9228L2.53693 15.7653C1.60783 15.3737 1.57237 14.651 2.45688 14.1548L23.9841 2.13692C24.2323 1.99884 24.4502 1.93412 24.6305 1.93412C25.0936 1.93412 25.3043 2.3656 25.1158 3.10452Z" fill="white"/>
                </svg>
            </div>
        </div>
        <div class="telegram-banner__item">
            <p class="telegram-banner__item-text"><span class="telegram-banner__item-text_bold">Подписывайся на Telegram-канал.</span> Инсайты от СУПЕРЛЮДЕЙ в подкастах, <br>видео и ревью.	<a href="https://t.me/sl_media" target="_blank" class="telegram-banner__item-link"><span>Присоединиться</span></a>
            </p>
        </div>
    </div>
</section>