body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    min-height: 100vh;
    font-weight: 400;
    margin: 0;
    position: relative;
    font-family: $font-family-default;
}

* {
    outline: none;
}

a {
    cursor: pointer;
    color: inherit;
    text-decoration: underline;
}

button {
    cursor: pointer;
}

h1 {
    font-size: $font-size-h1;
}

h2 {
    font-size: $font-size-h2;
}

h3 {
    font-size: $font-size-h3;
}

h4 {
    font-size: $font-size-h4;
}

h5 {
    font-size: $font-size-h5;
}

h6 {
    font-size: $font-size-h6;
}

strong, b {
    font-weight: 600;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}
