$color-black: #000;
$color-grey-e1: #e1e1e1;
$color-grey-c9: #c9c9c9;
//$color-btn-red: #df1920;
$color-btn-red: #c9002c;
$color-btn-green: #58a55d;
$color-text-red: #e0020f;
$color-red-darck: #900313;



$font-family-default: "Avenir Next Cyr", sans-serif;

$font-size-default: 16px;
$font-size-button: 14px;
$font-size-h1: 64px;
$font-size-h2: 48px;
$font-size-h3: 36px;
$font-size-h4: 28px;
$font-size-h5: 24px;
$font-size-h6: 20px;

$border-radius-button: 5px;

$width-icon-default: 32px;

$height-button-default: 50px;
$height-icon-default: 32px;
$height-header: 120px;
//$height-footer: 120px;

$line-height-default: 1.3;
