{% extends 'layout' %}

{% block content %}
<section class="cabinet section">
    <div class="row">
        <div class="large-12 columns">

            <div class="videos">
                {# {% set is_selected = 0 %} #}
                <div class="videos__main">
                {% for index, video in videos %}
                    {% if is_paid or (video.id in free_video_ids) %}
                    <div class="videos__video fade {{ (is_selected == (index+1)) and (is_paid or video.id in free_video_ids) ? 'active in' : ''}}" id="video-{{ index + 1 }}" video-point="{{ (is_selected == (index+1)) ? video_point : 0 }}" role="tabpanel">
                        {% if video.code %}
                            <div class="videos__player">
                                {{ video.code|raw }}
                            </div>
                        {% endif %}
                        <div class="videos__content">
                            <div class="videos__title">{{ video.trans('title') }}</div>
                            {% if video.trans('text_short') %}
                                <div class="videos__snippet">{{ video.trans('text_short')|nl2br }}</div>
                            {% endif %}
                            {% if video.trans('content') %}
                                <div class="videos__description">
                                    <div class="videos__description-inner">{{ video.trans('content')|raw }}</div>
                                    <div class="videos__description-link" data-action="toggleSlide" data-target=".videos__description-inner"><span>Развернуть описание</span></div>
                                </div>
                            {% endif %}
                            {% if (video.file) %}
                                <div class="videos__materials">
                                    <div class="videos__materials-title">Материалы к эпизоду</div>
                                    <div class="videos__materials-links">
                                        <a href="{{ video.uploadVerbose('file') }}" target="_blank" title="Cкачать материалы">
                                            <i class="small download icon"></i>
                                        </a>
                                    </div>
                                </div>
                            {% endif %}
                            <div id="hypercomments_comment_div-{{ index + 1 }}" class="hypercomments_comment_div">

                            </div>
                            <script type="text/javascript">
                                _hcwp = window._hcwp || [];
                                _hcwp.push({widget:"Stream", widget_id: 104804, xid: 'video-{{ index + 1 }}', append: "#hypercomments_comment_div-{{ index + 1 }}", hc_disable: 1, social: 'google, facebook'});
                                (function() {
                                    if("HC_LOAD_INIT" in window)return;
                                    HC_LOAD_INIT = true;

                                    var lang = (navigator.language || navigator.systemLanguage || navigator.userLanguage || "en").substr(0, 2).toLowerCase();
                                    var hcc = document.createElement("script"); hcc.type = "text/javascript"; hcc.async = true;
                                    hcc.src = ("https:" == document.location.protocol ? "https" : "http")+"://w.hypercomments.com/widget/hc/104804/"+lang+"/widget.js";
                                    var s = document.getElementsByTagName("script")[0];
                                    s.parentNode.insertBefore(hcc, s.nextSibling);
                                })();
                            </script>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
                </div>

                <div class="videos__aside">
                    <div class="videos__aside-title">Эпизоды</div>
                    <div class="videos__list">
                    {% for index, video in videos %}
                        <div class="videos__preview-wrap">
                            <div class="videoframe">
                                <img src="/assets/images/placehoder-16x9.svg" />
                                <img src="{{ video.imageVerbose('image', 'list_public') }}" class="cover" />
                                {% if is_paid or (video.id in free_video_ids) %}
                                    <a href="javascript:void(0)" class="videos__preview {{ (is_selected == (index+1)) and (is_paid or video.id in free_video_ids) ? 'selected' : '' }}" data-action="fadeIn" data-target="#video-{{ index + 1 }}" >
                                        <span class="videos__preview-overlay"></span>
                                        <span class="videos__preview-content">
                                            <span class="videos__preview-number">{{ video.index(index + 1) }}</span>
                                            <span class="videos__preview-title">{{ video.trans('title') }}</span>
                                        </span>
                                        <span class="play"></span>
                                    </a>
                                {% else %}
                                    <a href="javascript:void(0)" data-action="scrollTo" data-target="#format" class="videos__preview not-available">
                                        <span class="videos__preview-overlay"></span>
                                        <span class="videos__preview-content">
                                            <span class="videos__preview-number">{{ video.index(index + 1) }}</span>
                                            <span class="videos__preview-title">{{ video.trans('title') }}</span>
                                        </span>
                                        <span class="play"></span>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>

    {% if not paid_videos %}
        {% include 'partials.index.format' with {'packages': packages, 'is_not_payed': not is_paid, 'is_cabinet': 1} %}
    {% endif %}



{% endblock %}