    .footer {
        min-height: 108px;
        background: transparent;
        padding-bottom: 70px;
        /*padding-top: 70px;*/


        .knowledge + & {
            position: absolute;
            bottom: 0;
            z-index: 3;
            color: #fff;
        }

        &__copyright {
            font-size: 16px;
            small {
                font-size: 100%;
            }
            @include breakpoint(small down) {
                text-align: center;
            }
            @include breakpoint(tiny down) {
                font-size: 12px;
                text-align: center;
                margin-top: 50px;
            }

        }
        .section-wrapper {
            width: 100%;
            text-align: center;
            padding-top: 10px;
        }

        .section-wrapper a {
            font-size: 16px;
        }

        .section-wrapper a:not(:first-child){
            margin-left: 15px;
        }
        @media screen and (max-width: 787px) {
            .section-wrapper a {
                display:  block;
                margin: 0;
                text-align:center;
            }
        }


        &__contacts {

            .questions {
                max-width: 285px;
                font-size: 24px;
                font-weight: bold;
                line-height: 1.75;

                @include breakpoint(medium down) {
                    margin-bottom: 25px;
                }

                &__link {
                    text-decoration: none;
                    border-bottom: 2px solid;
                    display: inline-block;
                    line-height: 26px;
                    margin-bottom: 32px;
                }

                &__list {
                    display: inline-block;
                    margin: 0;
                    padding: 0;
                    list-style: none;

                    li {
                        display: inline-block;
                        font-size: 14px;


                        a {
                            opacity: .6;
                            transition: opacity .3s;
                            font-weight: 500;
                            &:hover {
                                opacity: 1;
                            }
                        }
                    }
                }
            }

            .supports {
                max-width: 298px;
                font-size: 24px;
                font-weight: bold;
                line-height: 1.75;

                a {
                    text-decoration: none;
                }

                ul {
                    padding-left: 0;
                    margin-top: 35px;
                }

                li {
                    list-style: none;
                    line-height: 1.67;
                }

                li:first-child,
                li:nth-child(3) {
                    font-family: 'AvenirNextCyr-Demi', sans-serif;
                    font-size: 18px;
                }

                li:nth-child(2),
                li:last-child {
                    font-size: 24px;
                }
            }

            .accept {
                max-width: 271px;
                font-size: 24px;
                font-weight: bold;
                line-height: 1.75;

                &__cards {
                    margin-top: 8px;
                    max-width: 206px;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;

                    a {
                        max-width: 97px;
                        max-height: 91px;
                    }
                }

                &__content {
                    margin-top: 25px;

                    p {
                        font-size: 14px;
                        font-weight: normal;
                        line-height: 1.68;
                    }
                }
            }
        }
    }

