.header {
    min-height: 120px;
    padding-top: 50px;
    /*position: absolute;*/
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
    color: #000;
    @include breakpoint(medium down) {
        min-height: 100px;
        padding-top: 22px;
    }

    &.header_show {
        top: 0 !important;
        transition: top .5s;
    }

    &.not-fixed {

        &.fixed {
            position: absolute;
        }

    }

    &.fixed {
        position: fixed;
        padding: 0;
        z-index: 200;
        height: 80px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        min-height: auto;
        top: -100px;
        opacity: 1;
        background-color: rgba(0, 0, 0, .4);
        color: #fff;
        a {
            width: auto;
        }

        a svg {
            @include breakpoint(xlarge down) {
                fill: #fff;
                max-width: 300px;
            }

        }

        .header__right-auth svg path {
            fill: #fff;
        }

        .header__left-logo {
            top: 6px;
            @include breakpoint(tiny down) {
                top: 0;
            }
            svg{
                @include breakpoint(tiny down) {
                    max-width: 200px;
                }
            }

            .logo {
                &-fix {
                    display: none;
                }
                &-scroll {
                    display: block;
                    margin-right: 10px;
                }
            }
        }

        .header__left-play {
            display: flex;
            @include breakpoint(1040 down) {
                display: none;
            }

            a {
                position: relative;
                top: 3px;
            }

        }

        .header__right-soc {
            @include breakpoint(tiny down) {
                display: none;
            }
        }

        .phone-mob{
            border: 1px solid #fff;
            @include breakpoint(tiny down) {
                display: none;
            }
        }

        .header__right {
            padding-top: 0;
            &-soc {
                display: none;
            }
            &-phone {
                display: none;
            }
            &-buy {
                display: inline-block;
                @include breakpoint(1040 down) {
                    display: none;
                }
            }
            &-account {
                top: 0;
                @include breakpoint(tiny down) {
                    top: 9px;
                }
            }
            &-auth {
                position: relative;
                @include breakpoint(small down) {
                    top: 13px;
                }
                @include breakpoint(tiny down) {
                    top: 11px;
                }
            }
        }

    }

    &__left {
        display: flex;
        &-logo {
            display: inline-block;
            width: 100%;
            max-width: 710px;
            position: relative;
            svg {
                max-width: 710px;
                height: auto;
                @include breakpoint(xlarge down) {
                    width: 400px;
                    height: 85px;
                }
                @include breakpoint(medium down) {
                    width: 370px;
                    height: 79px;
                }
                @include breakpoint(small down) {
                    width: 300px;
                    height: 64px;
                }
                @include breakpoint(tiny down) {
                    max-width: 290px;
                    height: 62px;
                }
                @include breakpoint(380 down) {
                    padding-top: 7px;
                    width: 230px;
                    height: 49px;
                }
            }

            .logo {
                &-fix {
                    display: block;
                }
                &-scroll {
                    display: none;
                    height: 55px;
                    width: auto;
                }
            }

        }

        &-play {
            display: none;
            align-items: center;
            a {
                margin-right: 15px;
                svg {
                    width: 32px;
                    height: 32px;
                    transition: fill .3s;
                }
                &:hover {
                    svg {
                        fill: #d72934;
                    }
                }
            }
            &-text {
                span {
                    display: inline-block;
                    width: 100%;
                    font-weight: 500;
                }
                .top {
                    font-size: 18px;
                }
                .bottom {
                    font-size: 24px;
                }

            }
        }



    }

    &__right {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-top: 12px;
        @include breakpoint(tiny down) {
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
        }

        &-buy {
            margin-right: 17%;
            display: none;
            a {
                display: inline-block;
                vertical-align: middle;
                padding: 11px 30px;
                border: 0 none;
                font-size: 22px;
                line-height: 1.3;
                color: #ffffff;
                font-weight: 500;
                text-align: center;
                white-space: nowrap;
                background: $color-btn-red;
                cursor: pointer;
                outline: none;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                transition: background 0.15s;
                min-width: 185px;
                border-radius: 25px;
                text-decoration: none;
                &:hover {
                    background: darken($color-btn-red, 10%);
                }
            }
        }

        &-look {
            margin-right: 17%;
            display: none;
            a {
                display: inline-block;
                vertical-align: middle;
                padding: 11px 30px;
                border: 0 none;
                font-size: 22px;
                line-height: 1.3;
                color: #ffffff;
                font-weight: 500;
                text-align: center;
                white-space: nowrap;
                background: $color-btn-red;
                cursor: pointer;
                outline: none;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                transition: background 0.15s;
                min-width: 185px;
                border-radius: 25px;
                text-decoration: none;
                &:hover {
                    background: darken($color-btn-red, 10%);
                }
            }
        }

        &-soc {
            margin: 0 45px 0 0;
            padding: 0;
            display: flex;
            list-style: none;
            flex-wrap: nowrap;
            @include breakpoint(1040 down) {
                margin: 0 25px 0 0;
            }
            @include breakpoint(tiny down) {
                margin: 0;
                flex-direction: column-reverse;
                align-items: center;
                justify-content: revert;
                margin-bottom: 5px;
            }

            li {
                display: flex;
                align-items: center;
                margin: 0 40px 0 0;
                @include breakpoint(1040 down) {
                    margin: 0 25px 0 0;
                }
                @include breakpoint(tiny down) {
                    margin: 0;
                }
                &:nth-last-child(1) {
                    margin: 0;
                }

                svg {
                    height: 40px;
                    @include breakpoint(xlarge down) {
                        max-width: 30px;
                    }
                }
            }

            a {
                display: inline-block;
                svg {
                    fill: #000;
                }
            }

            .facebook {
                svg {
                    height: 25px;
                    width: 15px;
                    @include breakpoint(small down) {
                        height: 20px;
                    }
                }
            }

            .insta {
                svg {
                    height: 28px;
                    width: 28px;
                    @include breakpoint(small down) {
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }

        &-phone {
            display: flex;
            flex-direction: column;
            font-size: 24px;
            font-weight: 500;
            margin-right: 33px;
            position: relative;
            top: -7px;
            @include breakpoint(1040 down) {
                font-size: 19px;
                margin-right: 5px;
            }
            @include breakpoint(tiny down) {
                flex-direction: column;
                margin-bottom: 5px;
            }

            span {
                display: inline-block;
                width: 100%;
                font-size: 15px;
                letter-spacing: -   0px;
                line-height: 10px;
                //@include breakpoint(small down) {
                //    font-size: 11px;
                //}
                @include breakpoint(1040 down) {
                    display: none;
                }
            }

            .phone {
                &-desc {
                    display: inline-block;
                    width: 100%;
                    text-decoration: none;
                    letter-spacing: 0px;
                    @include breakpoint(1040 down) {
                        display: none;
                    }
                }
                &-mob {
                    display: none;
                    position: relative;
                    top: 4px;
                    height: 35px;
                    width: 35px;
                    padding: 7px;
                    border: 1px solid #000;
                    border-radius: 50%;
                    &:before {
                        content: "\E910";
                        font-family: 'icons';
                        display: inline-block;
                        position: absolute;
                        top: 2px;
                    }
                    @include breakpoint(1040 down) {
                        display: inline-block;
                    }
                }
            }
        }

        &-account {
            cursor: pointer;
            position: relative;
            top: -5px;
            @include breakpoint(tiny down) {
                margin-bottom: 10px;
                left: -9px;
                top: 0;
            }

            &.active {

                .header__right-account-menu {
                    display: block;
                }
                .icon-caret-bottom {
                    &:before {
                        transform: rotate(180deg);
                    }
                }

            }

            &-menu {
                display: none;
                position: absolute;
                margin: 0;
                padding: 0;
                list-style: none;
                background-color: #000000;
                top: 75px;
                right: -32px;
                @include breakpoint(tiny down) {
                    right: 0;
                    top: 40px;
                }
            }

            &-link {
                display: block;
                padding: 10px 20px;
                color: #ffffff;
                white-space: nowrap;
                transition: color 0.2s ease-in-out;
                &:hover {
                    color: $color-btn-red;
                }
            }

            &-label {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: 20px;
                width: 60px;
                height: 60px;
                border-radius: 50%;
                background-color: $color-btn-red;
                font-size: 24px;
                font-weight: 600;
                color: #000000;
                text-decoration: none;
                user-select: none;
                transition: background-color 0.2s ease-in-out;
                span {
                    color: #FFF;
                    @include breakpoint(tiny down) {
                        font-size: 17px;
                    }
                }
                @include breakpoint(tiny down) {
                    width: 35px;
                    height: 35px;
                    margin-left: 12px;

                }
            }

            &-caret {
                position: absolute;
                left: 0;
                font-size: 12px;
                color: $color-btn-red;
                cursor: pointer;
                transition: color 0.2s ease-in-out;
                &:before {
                    display: inline-block;
                    top: 50%;
                    font-size: 14px;
                    @include breakpoint(tiny down) {
                        font-size: 10px;
                    }
                }

                @include breakpoint(tiny down) {
                }
            }

            .icon-caret-bottom:before {
                content: "\E901";
                font-family: 'icons';
            }
        }

        &-auth {
            display: inline-block;
            @include breakpoint(tiny down) {
                margin-bottom: 5px;
            }

            &_label {
               /* border-bottom: 1px dotted #ffffff;*/
                transition: border-color 0.2s ease-in-out;
              /*  border-bottom: 1px dotted #000000;*/
                @include breakpoint(small down) {
                    display: none;
                }

                &:hover {
                    border-color: transparent;

                }
            }

            a {
                text-decoration: none;
                display: flex;
                align-items: center;
                font-size: 18px;
                font-weight: 500;
            }

            svg {
                width: 54px;
                height: 43px;
                margin-right: 14px;
                fill: #000;
                @include breakpoint(small down) {
                    height: 28px;
                    margin-right: 0;
                }
                @include breakpoint(tiny down) {
                    position: relative;
                    right: 7px;
                }
            }

        }

    }

}.section__telegram-banner{
     background: -moz-linear-gradient(45deg, rgba(55,138,227,1) 0%, rgba(30,150,200,1) 100%); /* ff3.6+ */
     background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(55,138,227,1)), color-stop(100%, rgba(30,150,200,1))); /* safari4+,chrome */
     background: -webkit-linear-gradient(45deg, rgba(55,138,227,1) 0%, rgba(30,150,200,1) 100%); /* safari5.1+,chrome10+ */
     background: -o-linear-gradient(45deg, rgba(55,138,227,1) 0%, rgba(30,150,200,1) 100%); /* opera 11.10+ */
     background: -ms-linear-gradient(45deg, rgba(55,138,227,1) 0%, rgba(30,150,200,1) 100%); /* ie10+ */
     background: linear-gradient(45deg, rgba(55,138,227,1) 0%, rgba(30,150,200,1) 100%); /* w3c */

     -webkit-transform: translateY(0%);
     -moz-transform: translateY(0%);
     -ms-transform: translateY(0%);
     -o-transform: translateY(0%);
     transform: translateY(0%);
     position: relative;
     z-index: 10000;
 }

.telegram-banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 70px;
    align-items: center;
    margin: 0 15px;
}

.telegram-banner__item-text_bold {
    font-weight: bold;
}

.telegram-banner__item-img {
    width: 27px;
    height: auto;
}

.telegram-banner__item-img,
.telegram-banner__item-text {
    margin-right: 17px;
    margin-bottom: 0;
}

.telegram-banner__item-text {
    font-size: 18px;
    line-height: 22px;
    color: #fff;
}

.telegram-banner__item-link {
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    text-decoration: none;
    border-bottom: 1px dotted #fff;
    width: fit-content;
    margin: 0 auto;
    margin-left: 20px;
}

.telegram-banner__item-link:hover {
    border-bottom: none;
}

.telegram-banner__item:last-child {
    display: flex;
    flex-direction: row;
}

.telegram-banner__item-text br{
    display: none;
}

@media screen and (max-width: 1060px){
    .telegram-banner__item:last-child{
        flex-direction: column;
        text-align: center;
    }
}

@media screen and (max-width: 992px){
    .telegram-banner__item:last-child{
        flex-direction: column;
    }

    .telegram-banner__item-text{
        font-size: 16px;
    }
}

@media screen and (max-width: 798px){
    .telegram-banner__item:last-child{
        flex-direction: column;
    }
    .telegram-banner__item-text{
        font-size: 15px;
    }
}


@media screen and (max-width: 768px){
    .telegram-banner {
        height: 100px;
        padding: 0 15px;
    }
    .telegram-banner__item-text{
        margin-right: 0;
        font-size: 14px;
    }
    .telegram-banner__item-link {
        display: block;
        font-size: 16px;
        margin: 0 auto;
    }
}
@media screen and (max-width: 724px){
    .telegram-banner__item-text br{
        display: block;
    }
}

@media screen and (max-width: 617px){
    .telegram-banner__item-text br{
        display: none;
    }
}

@media screen and (max-width: 416px){
    .telegram-banner__item-text br{
        display: block;
    }
    .telegram-banner__item:last-child{
        text-align: left;
    }
    .telegram-banner__item-link {
        display: initial;
    }
}

@media screen and (max-width: 370px){
    .telegram-banner__item-text br{
        display: none;
    }
    .package-box__price__old {
        font-size: 50px;
    }
    .package-box__price {
        font-size: 50px;
    }
}


@media screen and (max-width: 346px) {
    .telegram-banner__item-text {
        font-size: 13px;
    }
}

@media screen and (max-width: 326px) {
    .telegram-banner__item-text {
        font-size: 12px;
    }
}


