.reveal-overlay {
  text-align: center;
  @include breakpoint(small down) {
    background-color: #fff;
  }
}
#create_pdf_invoice {
  line-height: 1.42;
  font-weight: 500;
  margin-top: -25px;
}
.user_agree_span {
  margin-left: 5px;
  color: #757575;
}
.modal-dialog .btn.choose {
  width: auto;
  margin: 5px;
  font-size: 18px;
}
.modal-dialog .btn.choose.non_active{
  opacity: 0.6;
}

.modal {


  &-info{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 50px 0;
    width: 680px;
    border-radius: 5px;
    text-align: left;
    @include breakpoint(small down) {
      min-height: 100vh;
      height: 100%;
      width: 100%;
      margin: 0;
    }

    .server-message-box {
      display: none;
      padding-bottom: 10px;
      &.error {
        color: #FF0000;
      }
      &.success {
        color: #008800;
      }
    }
  }


  &-dialog {
    position: relative;
    background-color: #ffffff;
    outline: 0;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);

    @include breakpoint(small down) {
      height: 100%;
      width: 100%;
      box-shadow: none;
      -webkit-box-shadow: none;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
    }


    .enter-box {
        padding: 40px 100px 40px 100px;
        text-align: center;
      @include breakpoint(tiny down) {
        padding: 30px 20px;
      }

        &__title {
          margin-bottom: 35px;
          font-size: 36px;
          color: #7f7f7f;
        }

        &__form {
          width: 100%;

          .icon-facebook{
            &:before {
              content: "\E908";
            }


          }

          .btn-icon {
            display: inline-block;
            vertical-align: top;
            margin-right: 15px;
            font-size: 20px;
            font-family: 'icons';
          }
        }

        &__social {
          background: #5067a7!important;
          display: block;
          width: 100%;
          font-size: 20px;
          text-decoration: none;
        }

        &__separator {
          position: relative;
          padding: 15px 0;
          margin: 25px 0;
          &:after {
            content: '';
            position: absolute;
            background-color: #cdcdcd;
            width: 100%;
            height: 1px;
            left: 0;
            right: 0;
            top: 60%;
          }

          &-text {
            position: absolute;
            width:45px;
            left: 0;
            right: 0;
            margin: 0 auto;
            top: 4px;
            z-index: 1;
            color: #cbcbcb;
            background-color: #ffffff;

          }

          .server-message-box {
            display: none;
            margin-top: -53px;
            padding-bottom: 10px;
            color: #FF0000;
          }

        }

        &__footer {
          a {
            &:hover {
              text-decoration: none;
            }
          }
        }
      }

    .phone-box {
      padding: 40px 100px;
      @include breakpoint(small down) {
        padding: 40px;
      }

      &__title {
        margin-bottom: 55px;
        font-size: 36px;
        color: #7f7f7f;
        text-align: center;

      }

      &__label {
        margin-bottom: 15px;
        font-size: 20px;
        color: #cbcbcb;
        text-align: center;

      }

      &__user {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
        &-label {
          color: #8e8e8e;
          font-size: 26px;
        }

        &-image {
          margin-right: 10px;
          flex-shrink: 0;
          width: 45px;
          height: 45px;
          overflow: hidden;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            max-width: 100%;
            max-height: 100%;
          }
        }

      }

      &__form {
        width: 100%;
        .form {
          &-control {
            display: block;
            width: 100%;
            height: 50px;
            padding: 10px 20px 11px;
            font-size: 24px;
            line-height: 1.15;
            color: #000000;
            border: 1px solid #cecece;
            background: #ffffff;
            border-radius: 0;
            outline: 0 none;
            -webkit-appearance: none;
          }
          .form-group {
            margin-bottom: 20px;

            .btn-green {
              background: #58a55d !important;
            }
          }
        }

        input[type=tel]{
          padding-right: 6px;
          padding-left: 52px;
          margin-left: 0;
        }
        .form-request-phone {
          padding-top: 45px;
        }

        .server-message-box {
          display: none;
          margin-top: -53px;
          padding-bottom: 10px;
          color: #FF0000;
        }

      }

      .validation-wrap {

      }
    }

    .pass-recovery {
      padding: 60px 90px;
      color: #000000;
      &__form {
        margin-bottom: 15px;
      }

      &__title {
        margin-bottom: 20px;
        font-size: 30px;
        text-align: center;
        font-weight: 500;
      }

      &__text {
        margin-bottom: 35px;
        text-align: center;
        color: #7f7f7f;
        font-weight: 500;
      }
    }

    .buy-box {
      padding: 80px 90px;
      @include breakpoint(small down) {
        padding: 10%;
      }
      .text-center {
        text-align: center;
      }

      &__wrapper {
        color: #000000;
      }

      &__label {
        margin-bottom: 5px;
        font-size: 24px;
        font-weight: 500;
      }

      &__title {
        font-size: 44px;
        font-weight: 500;
        @include breakpoint(tiny down) {
          font-size: 28px;
        }
      }

      &__steps {
        margin-bottom: 45px;
        @include breakpoint(small down) {
          margin-bottom: 20px;
        }


        .step-nav {
          flex-wrap: wrap;
          display: flex;
          margin: 0;
          padding: 0;
          list-style: none;
          counter-reset: list;

          li {
            &:before {
              counter-increment: list;
              content: counter(list) ".";
              position: absolute;
              left: 0;
            }
          }

          &__item {
            color: #cccccc;
            position: relative;
            margin: 0 30px 20px 0;
            padding: 0 0 10px 17px;
            font-size: 18px;
            @include breakpoint(380 down) {
              margin: 0 30px 0 0;
              padding: 0 0 0 17px;
            }


            &:after {
                 content: "\E900";
                 position: absolute;
                 top: 7px;
                 right: -20px;
                 font-family: 'icons';
                 speak: none;
                 font-style: normal;
                 font-weight: 400;
                 font-variant: normal;
                 text-transform: none;
                 line-height: 1;
                 -webkit-font-smoothing: antialiased;
                 -moz-osx-font-smoothing: grayscale;
                 font-size: 14px;
                 color: #cccccc;
               }

            &.active {
              color: #000000;
              pointer-events: auto;
              border-bottom: 3px solid #d72934;

            }

            &:nth-last-child(1){
              &:after {
                display: none;
              }
            }

            a {
              transition: color 0.2s ease-in-out;
              background-color: transparent;
              text-decoration: none;
              pointer-events: none;
            }
          }
        }
      }

      &__message {
        color: #cccccc;
        @include breakpoint(small down) {
          font-size: 15px;
        }
      }

      &__form-footer {
        margin-bottom: 30px;
        @include breakpoint(small down) {
          margin-bottom: 15px;
        }
      }

    }

    .form{
      &-group {
        margin-bottom: 20px;

        .error-message {
          display: none;
          color: #d72934;
          margin-top: 3px;
          text-align: left;
        }
      }
      &-control {
        display: block;
        width: 100%;
        height: 50px;
        padding: 10px 20px 11px;
        font-family: 'Avenir Next', sans-serif;
        font-size: 24px;
        line-height: 1.15;
        color: #000000;
        border: 1px solid #cecece;
        background: #ffffff;
        border-radius: 0;
        outline: 0 none;
        -webkit-appearance: none;
      }
    }

    .btn-green {
      background: #58a55d !important;
    }

    .btn {
        width: 100%;
        display: inline-block;
        vertical-align: middle;
        padding: 11px 30px;
        border: 0 none;
        border-radius: 0;
        font-family: 'Avenir Next', sans-serif;
        font-size: 22px;
        line-height: 1.3;
        color: #ffffff;
        font-weight: 400;
        text-align: center;
        white-space: nowrap;
        background: #d72934;
        cursor: pointer;
        outline: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        transition: background 0.15s ease-in-out, color 0.15s ease-in-out, border-color 0.15s ease-in-out;
        @include breakpoint(tiny down) {
          padding: 10px 15px;
        }
        @include breakpoint(380 down) {
          font-size: 18px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

  }

  &-close{
    z-index: 100;
    top: 25px;
    right: 25px;
    padding: 0;
    background: none;
    outline: 0 none;
    text-align: center;
    width: 30px;
    height: 30px;
    border: none;
    position: absolute;
    cursor: pointer;
    &:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "\E906";
    font-family: 'icons';
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 30px;
    color: #cdcdcd;
    transition: color 0.2s ease-in-out;}

    &:hover {
      &:before {
        color: #d72934;
      }

    }
  }

  &-video {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 50px 0;
    width: 70%;
    height: calc(100% - 190px);
    border-radius: 5px;
    text-align: left;
    @include breakpoint(small down) {
      height: auto;
      width: 100%;
    }
  }
}

#modalPayment{
  .modal-dialog {
    width: 660px;
    @include breakpoint(small down) {
      height: 100%;
      width: 100%;
    }

  }
  .buy-box__steps {
    @include breakpoint(tiny down) {
      margin-bottom: 0;
    }
  }
}