.section {
    flex-wrap: wrap;
    display: block;
    width: 100%;
    max-width: 100%;
    @include breakpoint(1700 down) {
        display: flex;
    }
    @include breakpoint(medium down) {
        padding-right: 15px;
        padding-left: 15px;
    }
    @include breakpoint(tiny down) {
        padding-right: 0;
        padding-left: 0;
    }

    & > .row {
        flex-grow: 1;
        flex-basis: 100%;
    }
}
