<section class="about section">

    <div class="row">

        <div class="column small-12 medium-7 large-6">

            <div class="about__wrap">
                <div class="about__sub">
                    <span class="small">Онлайн-курс</span>
                    <h2>
                        Персональный бренд
                        как инструмент роста
                    </h2>
                </div>

                <div class="about__title">
                    <h1>
                        нина левчук
                    </h1>
                </div>

                <div class="about__text">
                    <p>
                        <span>Эксперт по построению персонального бренда</span>
                        Руководитель Google Marketing Solution в Центральной
                        и Восточной Европе

                    </p>
                </div>

                <div class="about__btn">
                    {#TODO#}
                    {#<div class="about__btn-row">#}
                        {#<a  class="btn-buy button" data-action=scrollTo data-target="#format">Купить</a>#}
                        {#<span class="info">11 эпизодов</span>#}

                    {#</div>#}

                    {#<div class="about__btn-row">#}
                        {#<button class="btn-free button" data-action=scrollTo data-target="#format">Бесплатный урок</button>#}
                        {#<span class="info">5-часовой авторский курс</span>#}
                    {#</div>#}
                </div>
            </div>

        </div>

       {# <div class="about__btn-play" id="play">
            <a href="javascript:void(0)" data-action="openModal" data-target="#aboutVideo">
                <svg width="72" height="72" viewBox="0 0 72 72"  xmlns="http://www.w3.org/2000/svg">
                    <path id="Subtract" fill-rule="evenodd" clip-rule="evenodd" d="M36 72C55.8823 72 72 55.8823 72 36C72 16.1177 55.8823 0 36 0C16.1177 0 0 16.1177 0 36C0 55.8823 16.1177 72 36 72ZM43.2002 23.5293L21.6001 36L43.2002 48.4707V23.5293Z" transform="translate(72) scale(-1 1)" fill="df1920"/>
                </svg>
            </a>
        </div>#}

    </div>

</section>