<section class="biography section">

    <div class="row">

        <div class="medium-6 medium-offset-6 large-6 large-offset-6 columns">

            <div class="biography__title">
                <h3>Автор курса</h3>
                <h2>
                    нина левчук
                </h2>
            </div>
            <div class="biography__content">


                <p>Руководитель Google Marketing Solutions в Центральной<br>
                    и Восточной Европе (Дублин)</p>

                <p>10+ лет опыта работы в международных<br>
                    компаниях Кремниевой долины</p>

                <p>Более 5 лет помогает людям строить успешную карьеру.<br>
                    Автор программы &laquo;Менторинг для руководителей&raquo;</p>

                <p>Основатель предпринимательской программы<br>
                    Women’s Empowerment Program и первой<br>
                    в Украине Google Digital Academy для женщин</p>

                <p>Победитель Cosmopolitan Awards 2018 в номинации «Карьера года»</p>


                <p>Участник Ironman и Oceanman</p>


            </div>


        </div>

    </div>


</section>