<section class="certificate section">

    <div class="row">

        <div class="large-12 columns">
            <div class="certificate__title">
                <h3>
                    <span>По завершении курса</span>
                    Вы получите персонализированный сертификат
                </h3>
            </div>
        </div>

    </div>

    <div class="row align-center">

        <div class="tiny-12 columns">

            <div class="certificate__content">
                <img src="assets/images/sertificate.jpg" alt="alt">
            </div>

        </div>

    </div>

</section>