<section class="contingent section">

    <div class="row">

        <div class="large-12 columns">
            <div class="contingent__title">
                <h3>
                    Для кого этот курс?
                </h3>
            </div>
        </div>

    </div>

    <div class="row align-center animation onscroll fadein">

        <div class="tiny-12 small-12 medium-6 large-4 columns">

            <div class="contingent__content">

                <div class="contingent__content-icon">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         width="97px" height="72px" viewBox="0 0 97 72" enable-background="new 0 0 97 72" xml:space="preserve">
                        <circle fill="none" stroke="#DF1920" stroke-width="1.5" stroke-miterlimit="10" cx="90.141" cy="69.023" r="1.906"/>
                        <g id="jjKnvd_1_">
                            <g>
                                <path fill="none" stroke="#DF1920" stroke-width="1.5" stroke-miterlimit="10" d="M38.035,30.457
                                    c-0.929-0.024-1.483-0.543-1.679-1.331c-0.503-2.023-0.978-4.056-1.364-6.103c-0.171-0.906,0.208-1.373,1.032-1.721
                                    c-0.191-0.721-0.436-1.435-0.566-2.169c-0.503-2.841-0.773-5.703-0.027-8.536c0.871-3.312,2.896-5.754,5.893-7.401
                                    c5.148-2.83,12.027-2.309,16.5,1.308c2.702,2.185,4.115,5.068,4.355,8.523c0.189,2.728-0.1,5.406-0.95,8.014
                                    c-0.024,0.073-0.033,0.152-0.047,0.223c0.901,0.443,1.176,0.778,0.998,1.781c-0.351,1.975-0.763,3.943-1.262,5.885
                                    c-0.287,1.116-0.635,1.316-1.712,1.573c-0.162,1.219-0.286,2.445-0.496,3.657c-0.242,1.391-0.702,2.709-1.786,3.693
                                    c-0.659,0.598-0.937,1.293-0.851,2.179c0.121,1.248,0.194,2.5,0.288,3.751c0.077,1.027,0.675,1.675,1.608,1.935
                                    c1.991,0.555,3.983,1.143,6.012,1.517c3.197,0.589,6.255,1.429,8.779,3.612c3.255,2.815,4.903,6.399,5.092,10.677
                                    c0.005,0.117-0.018,0.236-0.032,0.407c-19.461,0-38.913,0-58.512,0c0.111-0.992,0.135-1.968,0.338-2.906
                                    c1.268-5.849,4.87-9.484,10.635-10.959c2.199-0.562,4.44-0.955,6.656-1.454c0.638-0.143,1.255-0.38,1.877-0.586
                                    c1.386-0.458,2.111-1.418,2.169-2.881c0.049-1.235,0.124-2.468,0.146-3.703c0.004-0.251-0.112-0.572-0.286-0.747
                                    c-1.718-1.726-2.317-3.897-2.55-6.227C38.226,31.816,38.126,31.166,38.035,30.457z"/>
                                <path fill="none" stroke="#DF1920" stroke-width="1.5" stroke-miterlimit="10" d="M95.762,51.844
                                    c-0.241,0.015-0.415,0.035-0.588,0.035c-5.204,0.001-10.409-0.005-15.613,0.01c-0.459,0.001-0.646-0.174-0.905-0.555
                                    c-0.632-0.928-1.322-1.847-2.134-2.614c-1.51-1.425-3.16-2.705-5.158-3.386c-0.872-0.297-1.814-0.392-2.727-0.558
                                    c-0.292-0.053-0.621,0.024-0.887-0.078c-0.308-0.118-0.769-0.343-0.796-0.566c-0.035-0.292,0.211-0.759,0.475-0.916
                                    c0.483-0.286,1.063-0.418,1.612-0.579c1.01-0.297,2.037-0.539,3.038-0.862c0.65-0.209,0.983-0.696,0.959-1.416
                                    c-0.021-0.635,0.002-1.271,0.016-1.907c0.008-0.367-0.168-0.446-0.514-0.465c-1.902-0.103-3.761-0.43-5.502-1.242
                                    c-0.947-0.442-1.035-0.731-0.528-1.608c1.031-1.78,1.31-3.752,1.389-5.748c0.092-2.31,0.033-4.625,0.113-6.935
                                    c0.066-1.89,0.237-3.772,0.948-5.565c0.91-2.293,2.541-3.804,4.834-4.648c2.817-1.037,5.664-1.114,8.48-0.093
                                    c2.899,1.051,4.513,3.268,5.259,6.193c0.589,2.309,0.494,4.652,0.458,7.004c-0.032,2.067,0.033,4.14,0.17,6.202
                                    c0.095,1.427,0.659,2.744,1.451,3.937c0.313,0.472,0.235,0.825-0.249,0.992c-1.16,0.399-2.327,0.798-3.521,1.07
                                    c-0.826,0.189-1.703,0.147-2.552,0.254c-0.164,0.021-0.394,0.233-0.433,0.396c-0.096,0.403-0.11,0.827-0.137,1.244
                                    c-0.097,1.475,0.359,2.278,1.764,2.743c1.281,0.424,2.599,0.757,3.922,1.023c3.708,0.746,6.664,3.72,7.277,7.417
                                    C95.749,51.009,95.737,51.407,95.762,51.844z"/>
                                <path fill="none" stroke="#DF1920" stroke-width="1.5" stroke-miterlimit="10" d="M14.35,37.97
                                    c-1.51-0.203-2.893-0.342-4.256-0.592c-0.654-0.12-1.283-0.42-1.897-0.698c-0.822-0.372-0.876-0.621-0.48-1.436
                                    c0.329-0.676,0.738-1.337,0.924-2.054c0.289-1.111,0.546-2.259,0.587-3.399c0.069-1.948-0.078-3.904-0.064-5.855
                                    c0.016-2.328,0.047-4.66,0.92-6.883c1.077-2.742,3.025-4.478,5.884-5.175c2.781-0.678,5.518-0.525,8.101,0.735
                                    c3.126,1.526,4.699,4.205,4.958,7.578c0.213,2.775,0.156,5.572,0.198,8.359c0.029,1.949,0.286,3.852,1.068,5.654
                                    c0.173,0.398,0.421,0.763,0.634,1.144c0.324,0.58,0.294,0.799-0.286,1.114c-1.602,0.871-3.338,1.265-5.149,1.363
                                    c-0.199,0.011-0.399,0.003-0.598-0.002c-0.508-0.013-0.812,0.215-0.793,0.739c0.027,0.754,0.041,1.515,0.153,2.259
                                    c0.088,0.587,0.619,0.802,1.126,0.943c1.073,0.3,2.165,0.534,3.227,0.867c0.499,0.157,0.982,0.433,1.401,0.749
                                    c0.187,0.141,0.317,0.542,0.258,0.769c-0.045,0.172-0.417,0.312-0.665,0.368c-1.297,0.291-2.676,0.366-3.889,0.857
                                    c-2.683,1.087-4.971,2.79-6.533,5.277c-0.576,0.917-1.192,1.275-2.287,1.262c-4.944-0.062-9.89-0.035-14.835-0.017
                                    c-0.501,0.002-0.619-0.171-0.574-0.625c0.342-3.493,2.169-5.947,5.33-7.345c1.203-0.532,2.556-0.719,3.833-1.092
                                    c0.894-0.261,1.792-0.526,2.655-0.873c0.622-0.25,1.031-0.76,1.046-1.477C14.364,39.614,14.35,38.744,14.35,37.97z"/>
                            </g>
                        </g>
                        <line fill="none" stroke="#DF1920" stroke-width="1.5" stroke-miterlimit="10" x1="50.21" y1="69.023" x2="88.14" y2="69.023"/>
                        <circle fill="none" stroke="#DF1920" stroke-width="1.5" stroke-miterlimit="10" cx="6.741" cy="69.023" r="1.906"/>
                        <line fill="none" stroke="#DF1920" stroke-width="1.5" stroke-miterlimit="10" x1="8.837" y1="69.023" x2="46.767" y2="69.023"/>
                        <circle fill="none" stroke="#DF1920" stroke-width="1.5" stroke-miterlimit="10" cx="48.578" cy="69.023" r="1.906"/>
                        </svg>
                </div>

                <div class="contingent__content-title">
                    <h4>
                        Для менеджеров
                    </h4>
                </div>

                <div class="contingent__content-text">
                    <p>
                        Которые хотят больше
                        зарабатывать и успешно строить
                        карьеру в компании
                    </p>
                </div>

            </div>

        </div>

        <div class="tiny-12 small-12 medium-6 large-4 columns">

            <div class="contingent__content">

                <div class="contingent__content-icon">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         width="97px" height="72px" viewBox="0 0 97 72" enable-background="new 0 0 97 72" xml:space="preserve">
                        <g>
                            <path fill="none" stroke="#DF1920" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
                                M63.145,30.978v14.414c-19.25-0.279-26.41-7.812-33.478-12.368c-7.068-4.557-12.182,0.93-12.182,0.93V7.823
                                c0,0,5.115-5.115,12.182-0.558c7.068,4.557,14.228,12.089,33.478,12.368v11.252"/>
                            <path fill="none" stroke="#DF1920" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
                                M42.035,21.865c0,0-1.023-2.697-3.441-3.441c-2.418-0.744-4.053,1.934-4.611,5.002c-0.558,3.069,1.459,9.372,5.169,8.668
                                c1.99-0.378,2.838-2.686,2.838-2.686"/>
                            <path fill="none" stroke="#DF1920" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
                                M32.535,21.432c0,0,2.226-1.359,3.551,1.587c1.324,2.947,4.119,1.841,4.119,1.841"/>
                            <path fill="none" stroke="#DF1920" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
                                M32.064,24.117c0,0,2.226-1.359,3.551,1.587c1.324,2.947,4.119,1.841,4.119,1.841"/>

                            <polyline fill="none" stroke="#DF1920" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="
                                24.952,50.152 24.952,56.883 77.403,56.883 77.403,30.213 73.962,30.213 	"/>

                            <polyline fill="none" stroke="#DF1920" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="
                                27.619,57.452 27.619,64.503 80.07,64.503 80.07,37.833 77.965,37.833 	"/>

                            <polyline fill="none" stroke="#DF1920" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="
                                21.447,42.926 21.447,49.657 73.898,49.657 73.898,22.987 66.913,22.987 	"/>
                        </g>
                        </svg>

                </div>

                <div class="contingent__content-title">
                    <h4>
                        Для предпринимателей
                    </h4>
                </div>

                <div class="contingent__content-text">
                    <p>
                        Которые хотят увеличить
                        свои продажи на
                        конкурентных рынках
                    </p>
                </div>

            </div>

        </div>

        <div class="tiny-12 small-12 medium-6 large-4 columns">

            <div class="contingent__content">

                <div class="contingent__content-icon">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         width="97px" height="72px" viewBox="0 0 97 72" enable-background="new 0 0 97 72" xml:space="preserve">
                        <g>
                            <path fill="none" stroke="#DF1920" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
                                M28.809,51.845l-2.194,5.012c0,0-0.78,0.935-2.3,0.271c-1.809-0.791-1.634-2.073-1.634-2.073l0.385-0.88"/>
                            <path fill="none" stroke="#DF1920" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
                                M45.734,59.252l-2.194,5.013c0,0-0.158,1.208,1.362,1.873c1.808,0.791,2.631-0.206,2.631-0.206l0.385-0.88"/>

                            <polyline fill="none" stroke="#DF1920" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="
                                37.309,36.509 24.102,43.328 18.563,55.985 30.981,50.967 	"/>

                            <polyline fill="none" stroke="#DF1920" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="
                                51.232,42.602 55.184,56.931 49.645,69.588 44.904,57.061 	"/>

                            <polygon fill="none" stroke="#DF1920" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="
                                44.904,57.061 30.981,50.967 37.125,36.929 46.982,14.407 60.905,20.5 	"/>

                            <circle fill="none" stroke="#DF1920" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="50.789" cy="24.662" r="3.97"/>

                            <circle fill="none" stroke="#DF1920" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="46.365" cy="34.771" r="3.97"/>

                            <line fill="none" stroke="#DF1920" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="34.244" y1="52.562" x2="31.172" y2="59.584"/>

                            <line fill="none" stroke="#DF1920" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="37.881" y1="54.154" x2="33.229" y2="64.785"/>

                            <line fill="none" stroke="#DF1920" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="43.154" y1="56.462" x2="41.135" y2="61.074"/>
                            <path fill="none" stroke="#DF1920" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
                                M48.501,12.08c2.288-5.228,7.071-8.184,10.684-6.602c3.613,1.581,4.687,7.101,2.399,12.328"/>

                            <line fill="none" stroke="#DF1920" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="48.584" y1="11.889" x2="47.402" y2="14.591"/>

                            <line fill="none" stroke="#DF1920" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="61.75" y1="17.41" x2="60.479" y2="20.314"/>

                            <line fill="none" stroke="#DF1920" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="40.986" y1="55.346" x2="39.915" y2="57.792"/>
                            <path fill="none" stroke="#DF1920" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
                                M45.161,44.84c0,0,0.186-1.466-2.026-2.434c-2.79-1.221-3.55-0.006-3.55-0.006l-4.53,10.351l5.576,2.44L45.161,44.84z"/>

                            <line fill="none" stroke="#DF1920" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="59.185" y1="5.478" x2="60.28" y2="2.976"/>
                        </g>
                        </svg>
                </div>

                <div class="contingent__content-title">
                    <h4>
                        Для блогеров
                    </h4>
                </div>

                <div class="contingent__content-text">
                    <p>
                        Которые хотят монетизировать свой контент и выделяться
                        среди других
                    </p>
                </div>

            </div>

        </div>


    </div>

</section>