<section class="especially section">

    <div class="row">

        <div class="large-12 columns">
            <div class="especially__title">
                <h3>
                    Особенности курса
                </h3>
            </div>
        </div>

    </div>

    <div class="row align-center animation onscroll fadein">



        <div class="tiny-12 small-12 medium-6 large-4 columns">

            <div class="especially__content">

                <div class="especially__content-icon">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         width="97px" height="72px" viewBox="0 0 97 72" enable-background="new 0 0 97 72" xml:space="preserve">
                        <line fill="none" stroke="#DF1920" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="32.484" y1="42.077" x2="32.484" y2="48.214"/>
                        <line fill="none" stroke="#DF1920" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="62.882" y1="42.077" x2="62.882" y2="48.214"/>
                        <line fill="none" stroke="#DF1920" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="38.87" y1="49.387" x2="38.87" y2="55.523"/>
                        <line fill="none" stroke="#DF1920" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="58.341" y1="57.126" x2="58.341" y2="63.262"/>
                        <line fill="none" stroke="#DF1920" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="39.863" y1="64.435" x2="39.863" y2="70.572"/>
                        <line fill="none" stroke="#DF1920" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="64.697" y1="64.435" x2="64.697" y2="70.572"/>
                        <path fill="none" stroke="#DF1920" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
                            M72.79,32.898"/>
                        <path fill="none" stroke="#DF1920" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
                            M67.667,63.849H28.682c-1.998,0-3.618-1.62-3.618-3.618v-0.073c0-1.998,1.62-3.618,3.618-3.618h38.985
                            c1.998,0,3.618,1.62,3.618,3.618v0.073C71.285,62.229,69.665,63.849,67.667,63.849z"/>
                        <path fill="none" stroke="#DF1920" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
                            M69.172,71.158H31.907c-1.998,0-3.618-1.62-3.618-3.618v-0.073c0-1.998,1.62-3.618,3.618-3.618h37.265
                            c1.998,0,3.618,1.62,3.618,3.618v0.073C72.79,69.539,71.17,71.158,69.172,71.158z"/>
                        <path fill="none" stroke="#DF1920" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
                            M66.836,48.8H27.851c-1.998,0-3.618-1.62-3.618-3.618v-0.073c0-1.998,1.62-3.618,3.618-3.618h38.985c1.998,0,3.618,1.62,3.618,3.618
                            v0.073C70.454,47.18,68.834,48.8,66.836,48.8z"/>
                        <path fill="none" stroke="#DF1920" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
                            M69.172,56.11H31.907c-1.998,0-3.618-1.62-3.618-3.618v-0.073c0-1.998,1.62-3.618,3.618-3.618h37.265
                            c1.998,0,3.618,1.62,3.618,3.618v0.073C72.79,54.49,71.17,56.11,69.172,56.11z"/>
                        <line fill="none" stroke="#DF1920" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="48.193" y1="0.5" x2="48.193" y2="32.605"/>
                        <line fill="none" stroke="#DF1920" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="36.885" y1="0.5" x2="48.193" y2="32.605"/>
                        <line fill="none" stroke="#DF1920" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="59.465" y1="0.5" x2="48.193" y2="32.605"/>
                        <polyline fill="none" stroke="#DF1920" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="
                            48.193,0.5 36.885,0.5 28.414,14.116 48.193,32.605 "/>
                        <polyline fill="none" stroke="#DF1920" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="
                            48.157,0.5 59.465,0.5 67.935,14.116 48.157,32.605 "/>
                        </svg>

                </div>

                <div class="especially__content-title">
                    <h4>
                        Методология
                        с пошаговой
                        инструкцией
                    </h4>
                </div>

                <div class="especially__content-text">
                    <p>
                        Поможет провести самостоятельный <br> аудит и определить вектор развития <br>вашего персонального бренда
                    </p>
                </div>



            </div>

        </div>

        <div class="tiny-12 small-12 medium-6 large-4 columns">

            <div class="especially__content">

                <div class="especially__content-icon">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         width="97px" height="72px" viewBox="0 0 97 72" enable-background="new 0 0 97 72" xml:space="preserve">
<path fill="none" stroke="#DF1920" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M65.568,15.643
	l-8.694,7.866c-4.803,4.345-12.144,4.251-16.834-0.216L32.594,16.2"/>
                        <path fill="none" stroke="#DF1920" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M32.594,67.323
	l6.607-16.292c1.642-4.049,5.543-6.857,9.912-6.804c0.279,0.003,0.558,0.016,0.836,0.038c3.962,0.315,7.368,2.946,8.912,6.607
	l6.706,16.451"/>
                        <line fill="none" stroke="#DF1920" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="49.081" y1="41.483" x2="49.081" y2="36.727"/>
                        <line fill="none" stroke="#DF1920" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="45.915" y1="38.356" x2="45.915" y2="33.389"/>
                        <line fill="none" stroke="#DF1920" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="52.022" y1="34.203" x2="52.022" y2="26.707"/>
                        <path fill="none" stroke="#DF1920" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M65.402,67.323
	v-16.86c0-1.052-0.418-2.061-1.162-2.805l-3.599-3.599c-1.717-1.717-1.717-4.5,0-6.217l3.28-3.28
	c0.744-0.744,1.162-1.753,1.162-2.805V15.643"/>
                        <path fill="none" stroke="#DF1920" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M31.791,67.323
	v-16.86c0-1.052,0.418-2.061,1.162-2.805l3.599-3.599c1.717-1.717,1.717-4.5,0-6.217l-3.28-3.28
	c-0.744-0.744-1.162-1.753-1.162-2.805V15.643"/>
                        <polyline fill="none" stroke="#DF1920" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="
	67.413,8.341 67.413,15.643 30.749,15.643 30.749,8.341 "/>
                        <rect x="30.43" y="67.323" fill="none" stroke="#DF1920" stroke-width="1.5"  stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" width="37.303" height="3.651"/>
                        <polyline fill="none" stroke="#DF1920"  stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="
	61.265,0.833 70.372,0.833 70.372,7.637 27.79,7.637 27.79,0.833 62.378,0.833 "/>
</svg>
                </div>

                <div class="especially__content-title">
                    <h4>
                        80% практики,<br />
                        минимум<br />
                        теории
                    </h4>
                </div>

                <div class="especially__content-text">
                    <p>
                        Концентрат знаний и умений<br> можно сразу применять в<br>  реальном бизнесе
                    </p>
                </div>

            </div>

        </div>

        <div class="tiny-12 small-12 medium-6 large-4 columns">

            <div class="especially__content">

                <div class="especially__content-icon">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         width="97px" height="72px" viewBox="0 0 97 72" enable-background="new 0 0 97 72" xml:space="preserve">
                        <line fill="none" stroke="#DF1920" stroke-width="1.5" stroke-miterlimit="10" x1="60.873" y1="0.457" x2="60.873" y2="20.02"/>
                        <polyline fill="none" stroke="#DF1920" stroke-width="1.5" stroke-miterlimit="10" points="58.43,2.901 60.873,0.457 63.317,2.901
                            "/>
                        <g>
                            <path fill="none" stroke="#DF1920" stroke-width="1.5" stroke-miterlimit="10" d="M46.819,31.191H46.77l-2.983,1.419l-0.601-2.742
                                l4.137-1.924h3.031v15.634h-3.536V31.191z"/>
                        </g>
                        <rect x="33.483" y="14.137" fill="none" stroke="#DF1920" stroke-width="1.5" stroke-miterlimit="10" width="5.361" height="5.299"/>
                        <rect x="41.672" y="6.866" fill="none" stroke="#DF1920" stroke-width="1.5" stroke-miterlimit="10" width="5.546" height="12.571"/>
                        <rect x="49.892" y="0.457" fill="none" stroke="#DF1920" stroke-width="1.5" stroke-miterlimit="10" width="5.546" height="18.979"/>
                        <path fill="none" stroke="#DF1920" stroke-width="1.5" stroke-miterlimit="10" d="M51.279,49.354
                            c9.838-5.013,12.476-26.836,12.476-26.836H47.859H31.963c0,0,2.637,21.822,12.476,26.836"/>
                        <polyline fill="none" stroke="#DF1920" stroke-width="1.5" stroke-miterlimit="10" points="37.982,68.159 37.982,61.052
                            58.167,61.052 58.167,67.847 "/>
                        <rect x="35.394" y="68.159" fill="none" stroke="#DF1920" stroke-width="1.5" stroke-miterlimit="10" width="25.361" height="2.851"/>
                        <rect x="44.439" y="49.354" fill="none" stroke="#DF1920" stroke-width="1.5" stroke-miterlimit="10" width="7.271" height="11.698"/>
                        </svg>

                </div>

                <div class="especially__content-title">
                    <h4>
                        Эксклюзивные
                        интервью людей
                        &laquo;супербрендов&raquo;
                    </h4>
                </div>

                <div class="especially__content-text">
                    <p>
                        В рамках курса своим опытом <br> делятся специально приглашенные <br> звездные спикеры
                    </p>
                </div>

            </div>

        </div>

    </div>

</section>