<section class="formula section">

    <div class="formula__content section">

        <div class="row">

            <div class="formula__content-wrap">

                <div class="formula__content-left">
                    <div class="formula__content-left-wrap">
                        <div class="formula__content-left-title">
                            <h4>Онлайн-курс</h4>
                            <h3>Персональный бренд
                                как инструмент роста</h3>
                        </div>

                        <div class="formula__content-left-text">
                            <p>
                                11 эпизодов +<br>
                                скачиваемые материалы.<br>
                                Доступ &mdash; 6 месяцев.
                            </p>

                        </div>

                        <div class="formula__content-left-btn">
                            <div class="formula__content-left-btn-img">
                                <img src="assets/images/nina.png" alt="alt">
                            </div>
                            {#<a class="btn-buy button" data-action=scrollTo data-target="#format" >Купить</a>#}
                            {#<a class="btn-free button" data-action="openModal" data-target="#modal-registration">Бесплатный урок</a>#}
                        </div>
                    </div>

                    <div class="formula__content-left-wrap">
                        <img src="assets/images/nina.png" alt="alt">
                    </div>
                </div>

                <div class="formula__content-center">
                    <img src="assets/images/nina.png" alt="alt">
                </div>

                <div class="formula__content-right">
                    <div class="formula__content-right-item icon brows">
                        <p>
                            Просмотр во<br>
                            всех браузерах
                        </p>
                    </div>
                    <div class="formula__content-right-item icon load">
                        <p>
                            Скачиваемые <br> материалы
                        </p>
                    </div>
                    <div class="formula__content-right-item icon hd">
                        <p>
                            HD-качество
                        </p>
                    </div>
                    <div class="formula__content-right-item icon time">
                        <p>
                            Доступ 6<br>
                            месяцев
                        </p>
                    </div>
                </div>
            </div>

        </div>

    </div>


</section>