<section class="invited section">

    <div class="row">
        <div class="large-12 columns">
            <div class="invited__title">
                <h3>Приглашенные cуперлюди<br>
                    с сильным персональным брендом</h3>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="tiny-12 medium-4 large-4 columns">
            <div class="invited__content item-1">

                <div class="invited__content-img">
                    <img src="assets/images/invited-1.png" alt="alt">
                </div>

                <div class="invited__content-name">
                    <h4>
                        Андрей Федорив
                    </h4>
                </div>

                <div class="invited__content-text">
                    <p>
                        Основатель независимой креативной компании FEDORIV, эксперт по маркетингу, предприниматель, спикер
                    </p>
                </div>
            </div>
        </div>

        <div class="tiny-12 medium-4 large-4 columns">
            <div class="invited__content item-2">

                <div class="invited__content-img">
                    <img src="assets/images/invited-2.png" alt="alt">
                </div>

                <div class="invited__content-name">
                    <h4>
                        Лера Бородина
                    </h4>
                </div>

                <div class="invited__content-text">
                    <p>
                        Основатель сервиса аренды платьев Oh My Look! и сооснователь бьюти-пространства G.Bar
                    </p>
                </div>
            </div>
        </div>

        <div class="tiny-12 medium-4 large-4 columns">
            <div class="invited__content item-3">

                <div class="invited__content-img">
                    <img src="assets/images/invited-3.png" alt="alt">
                </div>

                <div class="invited__content-name">
                    <h4>
                        Евгений Клопотенко
                    </h4>
                </div>

                <div class="invited__content-text">
                    <p>
                        Кулинарный эксперт, автор онлайн-курса «Мыслить как повар»
                    </p>
                </div>
            </div>
        </div>

    </div>

</section>