<section class="knowledge section">

    <div class="row">

        <div class="tiny-12 small-12 medium-12 large-9 columns">

            <div class="knowledge__title">
                <h3>
                    Знания лучших <span>Суперлюди</span>
                </h3>
            </div>

            <div class="knowledge__content">

                <p>
                    Учиться нужно у лучших. Мы зовем их суперлюдьми.
                </p><br>

                <p>
                    Каким бы делом они ни занимались &mdash; везде у них все хорошо. Они достигли баланса
                    между работой и личной жизнью, преуспевают в делах и жаждут делиться знаниями и опытом
                    с предпринимателями, менеджерами и творческими людьми.
                </p><br>

                <p>
                    Мы помогаем суперлюдям доносить свои мысли, знания
                    и опыт до аудитории через вдохновляющий контент в
                    публичных выступлениях, видеокурсах и социальных сетях.
                </p>

            </div>

            <form class="subscribe-box__form" action="#" method="get" target="_blank" novalidate="novalidate">

                <div class="knowledge__searchForm">
                    <p>
                        Узнавай о новых курсах
                    </p>
                    <div class="knowledge__searchForm__form">
                        <input type="email" class="email" name="email" placeholder="Эл. почта" required="required">
                        <button type="submit" name="subscribe" id="form_subscribe_button">Подписаться</button>
                    </div>
                    <div class="user_agree_subscribe">
                        <input name="user_agree_subscribe" id="user_agree_subscribe"  type="checkbox" value="true" >
                        <label for="user_agree_subscribe" class="user_agree_span" >Я прочел(-ла) и принимаю
                        <a href="https://superludi.com/terms/" target="_blank">Условия оказания услуг</a> </br> и
                            <a href="https://superludi.com/privacy/" target="_blank">Политику конфиденциальности</a>.</label>
                        <div class="error-message" hidden>Для того, чтобы продолжить, Вам нужно принять Условия соглашения.</div>
                    </div>
                    <div class="subscribe-box__form-message"></div>
                    <div class="subscribe-box__form-success"></div>
                </div>
            </form>

        </div>

    </div>

</section>