<section class="opinion section" style="position: relative">

    <div class="row">
        <div class="large-12 columns">
            <div class="opinion__title">
                <h3>
                    Мнения о Нине Левчук
                </h3>
            </div>
        </div>

    </div>

    <div class="opinion__wrap">

        <div class="row">

            <div class="opinion__slider slider" >

                <!--Жданов-->
                <div class="opinion__slider-item">
                    <div class="item__content">
                        <div class="item__content-comment">
                            <p>
                                <span class="bold">Elevate Conference</span> — одна из лучших конференций в Украине за последнее время.
                                Отличная возможность поделиться опытом и услышать лучшие кейсы об
                                использовании медиа для своего бизнеса. Спасибо организаторам
                                и отдельное спасибо главному бизнес-ментору проекта Нине Левчук.

                            </p>
                        </div>

                        <div class="item__content-name">
                            <h4>Денис Жаданов</h4>
                        </div>
                        <div class="item__content-text">
                            <p>
                                Вице-президент компании Readdle, IT-предприниматель списка Forbes «30 до 30» (30 Under 30)
                            </p>
                        </div>

                    </div>

                    <div class="item__photo">
                        <img src="assets/images/slide/zhd.png" alt="alt">
                    </div>
                </div>
                <!--СИРОТА-->
                <div class="opinion__slider-item">
                    <div class="item__content">
                        <div class="item__content-comment">
                            <p>
                                В сумасшедшем ритме работы в динамичной компании легко потерять свой work-life balance.
                                В такие минуты не хватает не сил и времени, а ментора, который даст правильный настрой.
                                И мы с командой Uber нашли его. За два часа крутого интенсива с
                                Ниной Левчук мы действительно перезарядились.
                                Получили мощный заряд наставлений о развитии персонального бренда в карьере и
                                уже сделали первые шаги по их воплощению в жизнь.

                            </p>
                        </div>
                        <div class="item__content-name">
                            <h4>Анна Сирота</h4>
                        </div>
                        <div class="item__content-text">
                            <p>
                                Regional Workplace Lead (CIS&CEE) Uber
                            </p>
                        </div>
                    </div>

                    <div class="item__photo">
                        <img src="assets/images/slide/sir.png" alt="alt">
                    </div>
                </div>
                <!--БУРИНСКАЯ-->
                <div class="opinion__slider-item">
                    <div class="item__content">
                        <div class="item__content-comment">
                            <p>
                                Слоган журнала Cosmopolitan — Fun Fearless Female.
                                Нина Левчук идеально ему соответствует. Такая же независимая,
                                жизнерадостная и всегда на шаг впереди на пути к своей цели.
                                Я рада, что в этом году в номинации «Карьера года»
                                Cosmopolitan Awards 2018 победила именно Нина. Она это заслужила.
                            </p>
                        </div>
                        <div class="item__content-name">
                            <h4>Александра Буринская</h4>
                        </div>
                        <div class="item__content-text">
                            <p>
                                Главный редактор Cosmopolitan
                            </p>
                        </div>

                    </div>

                    <div class="item__photo">
                        <img src="assets/images/slide/bur.png" alt="alt">
                    </div>
                </div>
                <!--ЗАРИВНАЯ-->
                <div class="opinion__slider-item">
                    <div class="item__content">
                        <div class="item__content-comment">
                            <p>
                                В масштабном проекте Elevate Conference мы хотели на одной сцене объединить медиа
                                с IT-бизнесом и стартапами и посмотреть, что из этого получится.
                                Новый виток проекту дала Нина Левчук — наш бизнес-ментор и адвайзер.
                                Она добавила идее масштабности и смогла более эффективно построить процесс.

                            </p>
                        </div>
                        <div class="item__content-name">
                            <h4>Даша Заривная</h4>
                        </div>
                        <div class="item__content-text">
                            <p>
                                Основатель Vector Media, СЕО платформы Charitum
                            </p>
                        </div>

                    </div>

                    <div class="item__photo">
                        <img src="assets/images/slide/zar.png" alt="alt">
                    </div>
                </div>
                <!--БУРЛУЦКИЙ-->
                <div class="opinion__slider-item">
                    <div class="item__content">
                        <div class="item__content-comment">
                            <p>
                                Речь должна быть органичной, естественной,
                                но одновременно правильной и чистой.
                                Этот микс ораторских талантов я отмечаю в Нине.
                                У такого ментора стоит учиться даже профессиональным ораторам.
                            </p>
                        </div>
                        <div class="item__content-name">
                            <h4> Андрей Бурлуцкий</h4>
                        </div>
                        <div class="item__content-text">
                            <p>
                                Бизнес-тренер по технике речи, заместитель директора проекта «Від пацанки до панянки»
                            </p>
                        </div>

                    </div>

                    <div class="item__photo">
                        <img src="assets/images/slide/burl.png" alt="alt">
                    </div>
                </div>
                <!--ОСТАПОВИЧ-->
                <div class="opinion__slider-item">
                    <div class="item__content">
                        <div class="item__content-comment">
                            <p>
                                В мире высоких технологий женщинам нужно много инвестировать времени,
                                сил и финансов в свое развитие, не останавливаясь на полпути к цели.
                                Для меня Нина — вдохновляющий пример того, как воплотить эти правила в жизнь,
                                не забывая о балансе между работой и семьей.
                            </p>
                        </div>
                        <div class="item__content-name">
                            <h4> Ольга Остапович</h4>
                        </div>
                        <div class="item__content-text">
                            <p>
                                HR Manager MacPaw

                            </p>
                        </div>

                    </div>

                    <div class="item__photo">
                        <img src="assets/images/slide/osta.png" alt="alt">
                    </div>
                </div>


            </div>

        </div>
        <div class="opinion__slider-counter">1/6</div>
    </div>

</section>