<section class="problems section">

    <div class="row">

        <div class="large-12 columns">
            <div class="problems__title">
                <h3>
                    Какие проблемы решает курс?
                </h3>
            </div>
        </div>

    </div>

    <div class="row align-center animation onscroll fadein">

        <div class="tiny-12 medium-6 large-4 columns">

            <div class="problems__content">

                <div class="problems__content-title">
                    <h3>
                        <span>1</span>
                        Научитесь
                    </h3>
                </div>
                <div class="problems__content-text">
                    <p>
                        Анализировать и корректировать что о вас говорят и думают люди
                    </p>
                </div>


            </div>

        </div>

        <div class="tiny-12 medium-6 large-4 columns">

            <div class="problems__content">

                <div class="problems__content-title">
                    <h3>
                        <span>2</span>
                        Поймете
                    </h3>
                </div>
                <div class="problems__content-text">
                    <p>
                        Вашу экспертизу и определите свою социальную роль
                    </p>
                </div>


            </div>

        </div>

        <div class="tiny-12 medium-6 large-4 columns">

            <div class="problems__content">

                <div class="problems__content-title">
                    <h3>
                        <span>3</span>
                        Узнаете
                    </h3>
                </div>
                <div class="problems__content-text">
                    <p>
                        Как персональный бренд
                        поможет вывести доход
                        на новый уровень
                    </p>
                </div>


            </div>

        </div>

    </div>

</section>