<section class="program section">

    <div class="row">
        <div class="program__title">
            <h3>Программа курса</h3>
        </div>
    </div>

    <div class="row">
        <div class="large-12 columns">
            <div class="program__content">
                <div class="program__content-title">
                    <h3>Вступление</h3>
                    <span class="sub">Нина расскажет о том, как будет построен курс, какую работу вам предстоит проделать и какие проблемы, вы сможете решить.</span>
                </div>

                <div class="program__content-accordion">
                    <ul class="accordion">
                        <li>
                            <div class="accordion__title" >
                                <span class="h3">Глава 1</span>
                                <span class="sub">Основы формирования персонального бренда</span>
                            </div>
                            <div class="accordion__content">
                                <ul>
                                    <li>Зачем вам необходим персональный бренд?</li>
                                    <li>Позиционирование себя как человека-бренда.</li>
                                    <li>Формула построения успешного персонального бренда и основы его продвижения.</li>
                                    <li>Почему успешные люди инвестируют личное время и ресурсы в построение персонального бренда? Примеры международных кейсов.</li>
                                </ul>
                            </div>
                        </li>

                        <button class="btn-more">
                            <span class="line"></span>
                            <span class="line"></span>
                            <span class="line"></span>
                            <span class="line"></span>
                            <span class="line"></span>
                            <span class="text">
                                Показать все 10 эпизодов
                            </span>
                        </button>

                        <li>
                            <div class="accordion__title">
                                <span class="h3">Глава 2</span>
                                <span class="sub">Формирование социальных ролей</span>
                            </div>
                            <div class="accordion__content">
                                <ul>
                                    <li>Ваши социальные роли, которые помогут приумножить доход. Пошаговое определение.</li>
                                    <li>Почему вам необходима персональная визитная карточка?</li>
                                    <li>Как правильно презентовать себя людям так, чтобы это стало основой для будущего плодотворного сотрудничества?</li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="accordion__title">
                                <span class="h3">Глава 3</span>
                                <span class="sub">Определение целевой аудитории</span>
                            </div>
                            <div class="accordion__content">
                                <ul>
                                    <li>Целевая аудитория человека-бренда. Какова она?</li>
                                    <li>Сегментация целевой аудитории. Три основные группы.</li>
                                    <li>Ключевые шаги для построения качественных доверительных отношений с вашей целевой аудиторией.</li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="accordion__title">
                                <span class="h3">Глава 4.1</span>
                                <span class="sub">Аудит персонального бренда</span>
                            </div>
                            <div class="accordion__content">
                                <ul>
                                    <li>Роль аудита в построении успешного персонального бренда.</li>
                                    <li>Основные шаги для проведения онлайн-аудита и аудита личного профиля в социальных сетях.</li>
                                    <li>Как восстановить репутацию в социальных сетях?</li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="accordion__title">
                                <span class="h3">Глава 4.2</span>
                                <span class="sub">Аудит персонального бренда</span>
                            </div>
                            <div class="accordion__content">
                                <ul>
                                    <li>Как улучшить первое впечатление от вашего личного профиля в социальных сетях, а также от вашей бизнес-страницы?</li>
                                    <li>Чек-лист первого впечатления.</li>
                                    <li>Бесплатные инструменты для онлайн-мониторинга. Их виды и особенности.</li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="accordion__title">
                                <span class="h3">Глава 5.1</span>
                                <span class="sub">Набор инструментов для продвижения персонального бренда</span>
                            </div>
                            <div class="accordion__content">
                                <ul>
                                    <li>Особенности работы с онлайн и печатными изданиями.</li>
                                    <li>Как правильно составить медиакит?</li>
                                    <li>Как выгодно продать себя онлайн?</li>
                                    <li>Синдром самозванца. Что это и как с ним бороться?</li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="accordion__title">
                                <span class="h3 empty">Глава 5.2</span>
                                <span class="sub">Совет профессионала по теме «Инструменты для продвижения персонального бренда». Евгений Клопотенко</span>
                            </div>
                        </li>
                        <li>
                            <div class="accordion__title">
                                <span class="h3 empty">Глава 5.3</span>
                                <span class="sub">Совет профессионала по теме «Инструменты для продвижения персонального бренда». Андрей Федорив</span>
                            </div>
                        </li>
                        <li>
                            <div class="accordion__title">
                                <span class="h3">Глава 6.1</span>
                                <span class="sub">Персональный бренд как инструмент для стратегических продаж</span>
                            </div>
                            <div class="accordion__content">
                                <ul>
                                    <li>Как привлечь аудиторию и повысить доход?</li>
                                    <li>Что такое воронка продаж и как правильно ее построить?</li>
                                    <li>Чек-лист вашей готовности к началу построения персонального бренда.</li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="accordion__title">
                                <span class="h3 empty">Глава 6.2</span>
                                <span class="sub">Совет профессионала по теме «Персональный бренд как инструмент для стратегических продаж». Лера Бородина</span>
                            </div>
                        </li>
                        <li>
                            <div class="accordion__title">
                                <span class="h3">Глава 7</span>
                                <span class="sub">Репутационные риски</span>
                            </div>
                            <div class="accordion__content">
                                <ul>
                                    <li>Риски, с которыми можно столкнуться при продаже бизнеса, если он тесно связан с именем основателя.</li>
                                    <li>Публичные скандалы. Как выйти из критической ситуации без потерь?</li>
                                    <li>Совет профессионала по теме «Репутационные риски». Андрей Федорив.</li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>


            </div>
        </div>
    </div>

</section>