<section class="question section" id="question">

    <div class="row">
        <div class="question__title">
            <h3>
                Часто задаваемые<br>
                вопросы
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="column large-12">
            <div class="question__content">
                <ul class="accordion">
                    <li>
                        <div class="accordion__title">
                            <span class="h4">Как купить курс?</span>
                        </div>
                        <div class="accordion__content">
                            <p>
                                Оплатить курс можно онлайн: банковской картой на сайте. Сразу после подтверждения оплаты вы получите доступ к просмотру видео в личном кабинете.
                                Если по каким либо причинам вам не понравился курс и вы хотите вернуть деньги, напишите нам на info@superludi.com. Ваш запрос будет рассмотрен в течение 2 рабочих дней и с вами свяжется наш специалист.
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="accordion__title">
                            <span class="h4">Сколько времени будет доступен курс?</span>
                        </div>
                        <div class="accordion__content">
                            <p>
                                Курс будет доступен в личном кабинете. Вы сможете просматривать видео неограниченное количество раз.                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="accordion__title">
                            <span class="h4">В каком формате проходит обучение?</span>
                        </div>
                        <div class="accordion__content">
                            <p>
                                Курс "Персональный бренд как инструмент роста" — 11 записанных видеороликов, объединенных в 7 глав, каждая из которых посвящена отдельной теме.
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="accordion__title">
                            <span class="h4">Как долго длится обучение?</span>
                        </div>
                        <div class="accordion__content">
                            <p>
                                Длительность одного ролика — 25-30 минут, общий хронометраж курса — 5 часов. Вы можете посмотреть его в удобном для вас режиме.
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="accordion__title">
                            <span class="h4">Какие знания я получу после окончания курса?</span>
                        </div>
                        <div class="accordion__content">
                            <p>
                                Вы получите концентрированный опыт Нины Левчук по построению персонального бренда на основе ее 10-летнего опыта работы в международных корпорациях.</p>

                            <p>Проведете аудит своего персонального бренда, определите свои социальные роли и свою целевую аудиторию, а также получите инструменты для продвижения.</p>

                            <p> И самое главное, научитесь использовать ваш персональный бренд как инструмент для стратегических продаж.


                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="accordion__title">
                            <span class="h4">Если после курса у меня появятся дополнительные вопросы, смогу ли я задать их преподавателю?</span>
                        </div>
                        <div class="accordion__content">
                            <p>
                                Да. Вопросы можно присылать на info@superludi.com.
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>

</section>