<section class="technique section">

    <div class="row">

        <div class="medium-7 medium-offset-5 large-6 large-offset-5 columns">

            <div class="technique__title">
                <h3>
                    Авторская методика
                    Нины Левчук
                </h3>
            </div>
            <div class="technique__content">

                <p>
                    Это курс для тех, кто хочет создать свой персональный бренд, успешно продвигать его и эффективно управлять им.
                    Вы научитесь использовать персональный бренд как инструмент стратегических продаж и карьерного роста.

                </p>

                <p>
                    Авторская методика Нины Левчук, разработанная на основе
                    собственного опыта работы в топовых
                    международных компаниях и стартапах Кремниевой долины,
                    позволит пошагово построить успешный персональный бренд.
                </p>

            </div>


        </div>

    </div>

</section>