{#
<section class="video section">

    <div class="row">
        <div class="large-12 columns">

            <div class="video__content">

                <div class="videoframe">
                    <img src="assets/images/placehoder-16x9.svg" />
                    <iframe src="https://player.vimeo.com/video/283412407?title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>

            </div>

        </div>
    </div>

</section>#}
