.animation {
    &.fadein {
        > * {
            opacity: 0;
        }
        &.shown {
            > * {
                animation: fadeIn 1s linear 1;
                animation-fill-mode: forwards;
                @for $i from 1 through 10 {
                    &:nth-child(#{$i}) {
                        animation-delay: $i * 0.3s;
                    }
                }
            }
        }
    }
}
