@import './vendor/foundation';
@import './vendor/slick';
@import './vendor/intltel';
@import './vendor/call-chat';
@import './base/fonts';
@import './base/variables';
@import './base/mixins';
@import './base/base';
@import './layout/grid';
@import './layout/header';
@import './layout/footer';
@import './layout/modals';
@import './layout/sections';
@import './module/buttons';
@import './module/forms';
@import './module/icons';
@import './module/videoframe';
@import './module/slick';
@import './module/sections/about';
@import './module/sections/technique';
@import './module/sections/contingent';
@import './module/sections/problems';
@import './module/sections/biography';
@import './module/sections/video';
@import './module/sections/program';
@import './module/sections/especially';
@import './module/sections/format';
@import './module/sections/invited';
@import './module/sections/opinion';
@import './module/sections/knowledge';
@import './module/sections/question';
@import './module/sections/formula';
@import './module/sections/cabinet';
@import './module/sections/infobox';
@import './module/sections/certificate';
@import './state/state';
@import './state/animations';

body {
    color: #000;
    font-size: 35px;
    width: 100%;
    @include breakpoint(xlarge down) {
        font-size: 18px;
    }
}

.is-reveal-open {
    padding-right: 15px;

    header {
        padding-right: 15px;
    }
    .header.fixed {
        padding-right: 15px;
    }

}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 97px;
    @include breakpoint(xlarge down) {
        font-size: 63px;
    }
    @include breakpoint(medium down) {
        font-size: 51px;
    }
    @include breakpoint(tiny down) {
        font-size: 41px;
    }
}

h2 {
    font-size: 63px;
    @include breakpoint(xlarge down) {
        font-size: 40px;
    }
    @include breakpoint(small down) {
        font-size: 31px;
    }

}

h3 {
    font-size: 36px;
    @include breakpoint(tiny down) {
        font-size: 27px;
    }
}

h4 {
    font-size: 24px;
}

p {
    line-height: 1.67;
}