.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  color: #fff;
  text-decoration: none;
}
button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
}