.form {
    &-group {
        &.has-error {
            .form-control {
                border: 1px solid #ff0000;
            }
            .error-message {
                display: block;
            }
        }
    }
}