.icon {
    display: inline-block;
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    &:before {

    }

    &.small {
        width: 40px;
        height: 40px;
    }

    &.download {
        background-image: url('../images/icons/download.svg');
    }

    &.brows {
        &:before {
            content: '';
            background: url(../images/order-intro-icon-1.svg) no-repeat;
            position: absolute;
            display: inline-block;
            -webkit-background-size: 77px 52px;
            background-size: 77px 52px;
            width: 77px;
            height: 52px;
            left: 0;
            top: 4px;
            @include breakpoint(small down) {
                right: 0;
                margin: 0 auto;
                top: 0;
            }
        }
    }

    &.time {

        left: 0;
        top: 0;
        &:before {
            content: '';
            background: url(../images/order-intro-icon-4.svg) no-repeat;
            position: absolute;
            display: inline-block;
            -webkit-background-size: 53px 53px;
            background-size: 53px 53px;
            width: 53px;
            height: 53px;
            left: 0;
            top: 0;
            @include breakpoint(small down) {
                right: 0;
                margin: 0 auto;
            }
        }

    }

    &.hd {

        left: 0;
        top: 0;
        &:before {
            content: '';
            background: url(../images/order-intro-icon-3.svg) no-repeat;
            position: absolute;
            display: inline-block;
            -webkit-background-size: 66px 47px;
            background-size: 66px 47px;
            width: 66px;
            height: 47px;
            left: 0;
            top: -10px;
            @include breakpoint(small down) {
                right: 0;
                top: 5px;
                margin: 0 auto;
            }
        }

    }

    &.load {

        left: 0;
        top: 0;
        &:before {
            content: '';
            background: url(../images/order-intro-icon-2.svg) no-repeat;
            position: absolute;
            display: inline-block;
            -webkit-background-size: 66px 58px;
            background-size: 66px 58px;
            width: 66px;
            height: 58px;
            left: 0;
            top: 0;
            @include breakpoint(small down) {
                right: 0;
                margin: 0 auto;
            }
        }

    }

}