.videoframe {
    position: relative;

    .play {
        display: none;
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -31px;
        margin-top: -31px;
        width: 62px;
        height: 62px;
        background-image: url('../images/icons/play.svg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        z-index: 1;
        cursor: pointer;
    }

    > img {
        width: 100%;
        height: auto;
        &.cover {
            @include cover(absolute);
            object-fit: cover;
            z-index: 1;
            & + .play {
                display: block;
            }
        }
    }

    > iframe {
        @include cover(absolute);
        z-index: 2;
    }
}