{% extends "admin::layout" %}
{% block content %}

    <div class="row">
        <div class="col-lg-12">

            <ul class="nav nav-tabs">
                {% for locale, locale_title in config('app.locales') %}
                    <li class="tab {% if config('app.locale') == locale %}active{% endif %}">
                        <a href="#pane-{{ locale }}" data-toggle="tab" aria-expanded="false">
                            <span class="visible-xs"><i class="fa fa-home"></i></span>
                            <span class="hidden-xs">{{ locale_title }}</span>
                        </a>
                    </li>
                {% endfor %}
            </ul>

            <div class="card-box">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-lg-12">
                        {{ form_component(form, 'form_open', {id: 'form'}) }}
                        {{ form_field(form, 'id') }}

                        <div class="tab-content">
                            {% for language, title_language in config('app.locales') %}
                                {% set locale_active = config('app.locale') == language %}
                                <div class="tab-pane {% if locale_active %}active{% endif %}" id="pane-{{ language }}">

                                    {% if (locale_active) %}
                                        {{ form_field(form, 'title_'~language, {id: 'text'}) }}
                                        {{ form_field(form, 'permalink', {id: 'text_2'}) }}
										{{ form_field(form, 'code') }}
										{{ form_field(form, 'text_short_'~language) }}
										{{ form_field(form, 'content_'~language) }}
                                        {{ form_field(form, 'image') }}
										{{ form_field(form, 'file') }}
										{{ form_field(form, 'is_free') }}
										{{ form_field(form, 'is_published') }}
                                    {% else %}
                                        {{ form_field(form, 'title_'~language, {id: 'title'}) }}
										{{ form_field(form, 'text_short__'~language) }}
										{{ form_field(form, 'content_'~language) }}
                                    {% endif %}

                                </div>
                            {% endfor %}
                        </div>

                        {{ form_component(form, 'form_submit') }}
                        {{ form_component(form, 'form_close') }}
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script src="{{ asset('vendor/admin/plugins/bootstrap-filestyle/src/bootstrap-filestyle.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('vendor/admin/plugins/bootstrapvalidator/dist/js/bootstrapValidator.js') }}" type="text/javascript"></script>
    <script src="{{ asset('vendor/admin/plugins/jquery-validation/dist/jquery.validate.min.js') }}" type="text/javascript"></script>

    <script src="{{ asset('vendor/admin/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js') }}"></script>
    <script src="{{ asset('vendor/admin/plugins/tinymce/tinymce.min.js') }}"></script>
    <script src="{{ asset('vendor/admin/plugins/select2/select2.min.js') }}"></script>

    <script src="{{ asset('vendor/admin/js/script.js') }}"></script>

    <script>
        $(function() {

            $('#form').bootstrapValidator({
                excluded: [':disabled']
            });

            {% if not id %}
                $('#text').on('keyup', function() {
                    // todo: function in global namespace
                    send();
                });
            {% endif %}
        });
    </script>

{% endblock %}