{% extends 'admin::layout' %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card-box rus-menu">
                <div class="row">
                    <div class="col-md-12">
                        <form class="custom-dd-empty dd" id="sort" method="post" action="{{ route('admin/video_sort') }}">
                            {% if items|length %}
                                <ol class="dd-list">
                                    {% for item in items %}
                                        <li class="dd-item dd3-item">
                                            <div class="dd-handle dd3-handle"></div>
                                            <div class="dd3-content">
                                                <input type="hidden" name="ids[]" value="{{ item.id }}">
                                                {{ item.trans('title') }}
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ol>
                            {% else %}
                                {{ trans('admin::common.empty') }}
                            {% endif %}
                        </form>

                        <div class="custom-dd-empty dd"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ asset('vendor/admin/plugins/nestable/jquery.nestable.js') }}"></script>
    <script>
        var $sort = $('#sort');
        $sort.nestable({
            maxDepth: 1
        });
        $sort.on('change', function () {
            var $form = $(this);
            var req = CMS.ajaxForm($form);
            req.done(function (resp) {
                CMS.notify('success', resp.message);
            });
        });
    </script>
{% endblock %}
