.about {
    padding-top: 140px;
    display: flex;
    align-items: center;
    background: url(../images/about-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center top;
    position: relative;
    @include breakpoint(1366 up) {
        min-height: 100vh;
    }
    @include breakpoint(medium down) {
        padding-top: 105px;
    }
    @include breakpoint(tiny down) {
        padding-top: 0;
        background-size: 160%;
        position: relative;
        min-height: 100vh;
        background-position-x: 100%;
        background-position-y: 15px;
    }
    @include breakpoint(380 down) {
        overflow: hidden;
    }
    &:before {
        content: '';
        width: 100%;
        height: 69%;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        display: none;
        background: rgba(255,255,255,0);
        background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.83) 20%, rgba(255,255,255,1) 59%, rgba(255,255,255,1) 100%);
        background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.83) 20%, rgba(255,255,255,1) 59%, rgba(255,255,255,1) 100%);
        background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.83) 20%, rgba(255,255,255,1) 59%, rgba(255,255,255,1) 100%);
        background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.83) 20%, rgba(255,255,255,1) 59%, rgba(255,255,255,1) 100%);
        background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0.83) 20%, rgba(255,255,255,1) 59%, rgba(255,255,255,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
        @include breakpoint(tiny down) {
            display: inline-block;
        }
    }

    .row {
        position: relative;
    }

    &__wrap {
        @include breakpoint(tiny down) {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            height: 100vh;
        }
    }

    &__sub {
        margin-bottom: 0;
        line-height: 58px;
        text-transform: uppercase;
        @include breakpoint(medium down) {
            margin-bottom: 25px;
        }
        @include breakpoint(small down) {
            text-align: center;
            margin-top: 110px;
        }
        @include breakpoint(tiny down) {
            margin-bottom: 0;
        }
        h2 {
            margin-top: -10px;
            letter-spacing: 0;
            font-weight: 900;
            font-size: 48px;
            margin-right: -100px;
            @include breakpoint(1040 down) {
                margin-right: 0;
            }
            @include breakpoint(tiny down) {
                line-height: 1.5;
                font-size: 28px;
            }
            @include breakpoint(380 down) {
                font-size: 22px;
            }
        }
        .small {
            font-size: 27px;
            line-height: 20px;
            font-weight: bold;
            text-transform: none;
            display: inline-block;
            width: 100%;
            letter-spacing: 0;
            @include breakpoint(tiny down) {
                line-height: 50px;
            }
            @include breakpoint(380 down) {
                font-size: 17px;
            }
        }

    }

    &__title {
        text-transform: uppercase;
        margin-bottom: 10px;
        @include breakpoint(medium down) {
            margin-bottom: 0;
        }
        @include breakpoint(tiny down) {
            padding-top: 0;
        }

        h1 {
            letter-spacing: 0;
            font-weight: 900;
            @include breakpoint(small down) {
                text-align: center;
            }
            @include breakpoint(380 down) {
                font-size: 36px;
            }
        }

    }

    &__text {
        font-size: 18px;
        font-weight: 500;
        max-width: 450px;
        margin-bottom: 60px;
        @include breakpoint(small down) {
            margin: 0 auto 60px;
            text-align: center;
        }
        @include breakpoint(tiny down) {
            margin-bottom: 15px;
        }
        p {
            font-weight: 600;
            @include breakpoint(380 down) {
                font-size: 14px;
            }
        }
        span {
            @include breakpoint(small down) {
                display: none;
            }
        }
    }

    &__btn-play {
        position: absolute;
        top: 32%;
        right: 41%;
        margin: 0 auto;
        display: inline-block;
        @include breakpoint(1040 down) {
            right: 37%;
        }
        @include breakpoint(small down) {
            top: 0;
            right: 0;
            left: 0;
            text-align: center;
        }
        @include breakpoint(tiny down) {
            top: inherit;
            bottom: 63%;
        }

        a {
            display: inline-block;
            position: relative;
            &:before {
                content: "";
                width: 50%;
                height: 50%;
                position: absolute;
                z-index: 0;
                background-color: #fff;
                display: inline-block;
                left: 24px;
                top: 21px;
                right: 0;
                @include breakpoint(tiny down) {
                    width: 40%;
                    height: 40%;
                    left: 18px;
                    top: 15px;
                }
            }

            svg {
                fill: $color-btn-red;
                width: 110px;
                height: 110px;
                position: relative;
                z-index: 5;
                overflow: hidden;
                transition: fill .3s;
                @include breakpoint(medium down) {
                    width: 90px;
                    height: 90px;
                }
                @include breakpoint(small down) {
                    fill: #000;
                    width: 85px;
                    height: 85px;
                }
                @include breakpoint(tiny down) {
                    width: 55px;
                    height: 55px;
                }

            }

            transition: background-color .3s;
            &:hover {
                svg {
                    fill: darken($color-btn-red, 10%)
                }

            }
        }
    }

    &__btn {
        //TODO
        height: 171px;
        @include breakpoint(small down) {
            margin-bottom: 25px;
        }


        &-row {
            display: flex;
            margin-bottom: 25px;
            align-items: center;
            @include breakpoint(small down) {
                max-width: 420px;
                margin: 0 auto 10px;
            }

            .button {
                width: 264px;
                height: 73px;
                font-size: 24px;
                margin-right: 60px;
                font-weight: 500;
                @include breakpoint(medium down) {
                    height: 57px;
                    width: 206px;
                    font-size: 18px;
                    margin-right: 15px;
                }
                @include breakpoint(tiny down) {
                    width: 175px;
                }
                @include breakpoint(380 down) {
                    font-size: 14px;
                    width: 150px;
                    height: 45px;
                }


            }

            .btn {
                &-buy {

                    background-color: $color-btn-red;
                    transition: background-color .3s;
                    &:hover {
                        background-color: darken($color-btn-red, 10%);
                    }
                }

                &-free {
                    background-color: $color-btn-green;
                    display: block;
                    transition: background-color .3s;
                    &:hover {
                        background-color: darken($color-btn-green, 10%);
                    }

                }

            }

            .info {
                max-width: 145px;
                font-weight: 600;
                @include breakpoint(380 down) {
                    font-size: 14px;
                    max-width: 120px;
                }
            }
        }
    }
}
