.biography {
    display: inline-block;
    padding: 195px 0;
    width: 100%;
    height: 1200px;
    background: url(../images/bio-bg.jpg) no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
    background-position: 50% 0;
    @include breakpoint(medium down) {
        height: auto;
        padding: 45px 0;
    }
    @include breakpoint(small down) {
        background: #f1f1f1;
        background-image: none;
    }

    &__title {
        margin-bottom: 60px;
        @include breakpoint(medium down) {
            margin-bottom: 35px;
        }

        h3 {
            margin-bottom: 16px;
            @include breakpoint(medium down) {
                margin-bottom: 0;
            }
        }

        h2 {
            font-size: 55.5px;
            text-transform: uppercase;
            font-weight: 900;
            letter-spacing: 3.5px;
            @include breakpoint(medium down) {
                font-size: 40px;
            }
        }

    }

    &__content {

        p {
            font-size: 18px;
            margin-bottom: 45px;
            font-weight: 500;
            @include breakpoint(medium down) {
                line-height: 1.6;
                margin-bottom: 45px;
            }
            &:nth-child(3) {
                margin-bottom: 32px;
            }
        }

    }

}