.cabinet {
    padding-top: 50px;
    margin: 0 auto;

    @include breakpoint(small down) {
        max-width: 755px;
    }

    .videos {
        display: flex;
        flex-direction: row;
        background: #fff;
        box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.2);
        @include breakpoint(small down) {
            max-height: auto;
        }
        @include breakpoint(767px down) {
            flex-direction: column;
            max-height: 100%;
            height: auto;
        }

        &__video {
            display: none;
        }

        &__video.in {
            display: block;
        }

        &__main {
            width: 70%;
            border-right: 1px solid #8e8e8e;
            @include breakpoint(767px down) {
                width: 100%;
                border: none;
            }
        }

        &__video {
            overflow: hidden;

            &.fade {
                opacity: 0;
                height: 0;
                transition: opacity 0.15s linear, height 0.15s step-end;
                &.in {
                    opacity: 1;
                    height: auto;
                    transition: opacity 0.15s linear, height 0.15s step-start;
                }
            }
        }

        &__player {
            position: relative;
            width: 100%;
            max-height: 461px;
        }

        &__content {
            padding:40px;
            @include breakpoint(xlarge down) {
                padding:80px 40px;
            }
            @include breakpoint(large down) {
                padding:40px;
            }

            @include breakpoint(767px down) {
                padding: 20px;
            }
        }

        &__title {
            font-size: 30px;
            color: #000000;
            margin-bottom: 10px;
            font-weight: 500;
        }

        &__aside {
            width: 30%;
            padding: 20px;
            @include breakpoint(767px down) {
                width: 100%;
                padding: 0;
            }

            &-title {
                font-size: 30px;
                color: #000000;
                margin-bottom: 10px;
                font-weight: 500;
                @include breakpoint(767px down) {
                    font-size: 24px;
                    padding: 0 20px;
                }
            }
        }

        &__snippet {
            margin-bottom: 5px;
            line-height: 1.3;
            font-weight: 500;
        }

        &__description {
            line-height: 1.3;
            padding: 2px 0;
            margin-bottom: 60px;
            font-weight: 500;

            &-inner {
                display: none;
                padding-bottom: 15px;
            }

            &-link {
                span {
                    color: #818181;
                    cursor: pointer;
                    border-bottom: 1px dotted #818181;
                    transition: color 0.15s ease-in-out, border-bottom-color 0.15s ease-in-out;

                    &:hover {
                        color: #000;
                        border-bottom-color: transparent;
                    }
                }
            }
        }

        &__materials {

            &-title {
                margin-bottom: 10px;
                color: #8e8e8e;
            }

            &-links {
                font-size: 40px;
            }
        }

        &__list {
            overflow-y: scroll;
            max-height: 970.625px;

            @include breakpoint(767px down) {
                max-height: 100%;
                overflow-y: auto;
            }
        }

        &__preview {
            @include cover(absolute);
            z-index: 3;
            color: #fff;

            &.selected{
                cursor: default;
            }

            &.selected .videos__preview-overlay{
                background-color: #fff;
                opacity: 0.7;
            }

            &.selected .play {
                display: none;
            }

            &-content {
                position: absolute;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                top: 10px;
                left: 10px;
                bottom: 10px;
                right: 10px;
            }

            &-number {
                font-weight: 700;
                @include breakpoint(767px down) {
                    font-size: 24px;
                }
            }

            &-title {
                font-weight: 500;
                @include breakpoint(767px down) {
                    font-size: 24px;
                }
            }

            &-wrap {
                margin-bottom: 30px;
                @include breakpoint(small down) {
                    margin-bottom: 10px;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }

            &-overlay {
                display: block;
                position: absolute;
                background-color: rgba(0, 0, 0, .5);
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
            }

            .play {
                display: block;

                @include breakpoint(small down){
                    width: 40px;
                    height: 40px;
                    margin-top: -20px;
                    margin-left: -20px;
                }

                @include breakpoint(767px down){
                    left: auto;
                    right: 0;
                    margin-right: 20px;
                    margin-top: -20px;
                }
            }

            &.not-available .play {
                background-image: url('../images/icons/plus.svg');
            }
        }
    }
}

