.certificate {
  padding: 98px 0 135px;
  background-color: #0a0a0a;
  color: #ffffff;
  @include breakpoint(medium down) {
    padding: 74px 0 114px;
  }
  @include breakpoint(540 down) {
    padding: 50px 0 70px;
  }

  &__title {
    text-align: center;
    margin-bottom: 75px;
    h3{
      font-weight: 900;
      @include breakpoint(380 down) {
        font-size: 20px;
      }
      span {
        width: 100%;
        display: inline-block;
      }
    }

  }

  &__content {
    display: inline-block;
    width: 100%;
    text-align: center;
    @include breakpoint(540 down) {
      display: block;
    }

    img {
      object-fit: contain;
      max-width: 715px;
      width: 100%;
    }

    
  }

}