.contingent {
  padding: 110px 0 100px;
  @include breakpoint(medium down) {
    padding: 74px 0 114px;
  }

  &__title {
    text-align: center;
    margin-bottom: 28px;
    h3{
      font-weight: 900;
    }

  }

  &__content {
    text-align: center;
    @include breakpoint(tiny down) {
      margin-bottom: 50px;
    }

    &-icon {
      height: 200px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      @include breakpoint(tiny down) {
        height: 150px;
      }

      svg {
        width: 125px;
        height: 80px;
      }

    }

    &-title {
      margin-bottom: 20px;

    }

    &-text{
      font-size: 18px;
      font-weight: 500;
      margin: 0 auto;

      &:nth-child(1) {
        max-width: 310px;
      }

      &:nth-child(2) {
        max-width: 255px;
      }

      &:nth-child(3) {
        max-width: 275px;
      }

    }


  }

}