.especially {
  padding: 150px 0 100px;
  @include breakpoint(medium down) {
    padding: 40px 0;
  }

  &__title {
    text-align: center;
    margin-bottom: 28px;
    @include breakpoint(tiny down) {
      margin-bottom: 15px;
    }
    h3{
      font-weight: 900;
    }

  }

  &__content {
    text-align: center;
    @include breakpoint(tiny down) {
      margin-bottom: 50px;
    }

    &-icon {
      height: 169px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      @include breakpoint(tiny down) {
        height: 120px;
      }

      svg {
        width: 125px;
        height: 80px;
      }

    }

    &-title {
      max-width: 230px;
      margin: 0 auto 44px;

      h4{
        line-height: 1.25;
      }

    }

    &-text{
      font-size: 18px;
      font-weight: 500;
      margin: 0 auto;

    }


  }

}