.format {
    .sold-image {
        position: absolute;
        top: 190px;
        text-align: center;
        left: 0;
        right: 0;
        & img {
            width: 100%;
        }
    }
    .package__message_pay {
        margin: 30px 20px 0 20px;
    }

    .sold {
        opacity: 0.3;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }

    padding: 76px 0 100px;
    @include breakpoint(medium down) {
        padding: 76px 0 40px;
        .package__message_pay {
            margin: 30px 135px 0;
        }
        .sold-image {
            top: 120px;
        }
        .sold {
            align-items: flex-start;
            flex-direction: row;
            justify-content: space-between;
        }
        .format__content-wrap.button-sold {
            margin-top: 0!important;
        }

    }

    @include breakpoint(small down) {
        .package__message_pay {
            margin: 30px 40px 0;
        }
        .sold-image {
            top: 120px;
        }

    }

    @include breakpoint(tiny down) {
        padding: 15px 0 20px;
        .package__message_pay {
            font-size: 16px;
        }
        .sold {
            align-items: flex-start;
            flex-direction: column;
        }
        .sold-image {
            top: 120px;
        }

        .sold-image svg{
            width: 90%;
        }
        .format__content.solded .format__content-wrap.button-sold {
            margin-top: auto!important;
            margin: 0 auto;
        }


    }

    &__title {
        text-align: center;
        margin-bottom: 82px;
        @include breakpoint(small down) {
            margin-bottom: 40px;
        }
        h3 {
            font-weight: 900;
        }
    }

    .columns {
        @include breakpoint(medium down) {
            display: inline-block;
            margin-bottom: 15px;
        }
    }

    &__content {
        box-shadow: 4px 6.9px 27.3px 2.7px rgba(0, 0, 0, 0.06);
        background-color: rgb(255, 255, 255);
        border: solid 2px rgb(232, 236, 240);
        padding: 43px 40px 36px;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
        transition: background .5s;
        @include breakpoint(medium down) {
            padding: 43px 28px 36px;
            flex-direction: row;
        }
        @include breakpoint(small down) {
            padding: 30px 40px 25px;
            margin-bottom: 15px;
        }
        @include breakpoint(tiny down) {
            flex-direction: column;
        }

        &:hover {
            color: #fff;
            box-shadow: 4px 6.9px 27.3px 2.7px rgba(0, 0, 0, 0.06);
            background-color: rgb(0, 0, 0);
            border: solid 2px rgb(232, 236, 240);
        }

        &-wrap {
            &:nth-child(1) {
                @include breakpoint(medium down) {
                    padding-right: 15px;
                }
            }
            &:nth-last-child(1) {
                @include breakpoint(medium down) {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    padding-bottom: 20px;
                }
                @include breakpoint(small down) {
                    padding-bottom: 30px;
                }
            }

        }

        &-title {
            margin-bottom: 34px;
            @include breakpoint(small down) {
                margin-bottom: 30px;
            }
            h3 {
                font-weight: 700;
            }
        }

        &-text {
            flex-basis: 100%;
            p {
                line-height: 1.42;
                font-size: 18px;
                margin-bottom: 27px;
                font-weight: 500;
                @include breakpoint(medium down) {
                    margin-bottom: 20px;
                }
            }
        }

        &-price {
            line-height: 1.6;
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 10px;
            span {
                display: inline-block;
                width: 100%;
                text-align: center;
                line-height: 44px;
                font-size: 36px;
            }
            .old {
                display: inline-block;
                width: 100%;
                text-align: center;
                color: #A8A8A8;
                text-decoration: line-through;
                line-height: 44px;
                font-weight: 300;
            }
        }

        &-btn {
            .button {
                width: 195px;
                height: 54px;
                margin: 0 auto;
                font-weight: 500;
                margin-bottom: 11px;
                &:nth-child(2) {
                    margin-bottom: 0;
                }
            }
            .btn {
                &-buy {
                    background-color: $color-btn-red;
                    transition: background-color .3s;
                    &:hover {
                        background-color: darken($color-btn-red, 10%);
                    }
                }
                &-free {
                    background-color: $color-btn-green;
                    transition: background-color .3s;
                    &:hover {
                        background-color: darken($color-btn-green, 10%);
                    }
                }
            }

        }

    }

}

.format__content.solded {
    position: relative;
     .format__content-wrap.button-sold {
        margin-top: auto;
    }
}
.format__content.solded:hover {
    background-color: inherit;
    color: inherit;
}
