.formula {
  padding: 130px 0 50px;
  @include breakpoint(small down) {
    padding: 10px 0;
  }

  &__content {
    background-color: rgb(255, 255, 255);
    box-shadow: 4px 6.9px 27.3px 2.7px rgba(0, 0, 0, 0.14);
    max-width: 1460px;
    width: 100%;
    margin: 0 auto;

    @include breakpoint(medium down) {
      background-color: rgb(255, 255, 255);
      box-shadow: none;
    }
    @include breakpoint(tiny down) {
      overflow: hidden;
      padding: 0 10px;
    }

    &-wrap {
      display: flex;
      justify-content: space-between;
      width: 100%;
      position: relative;

      @include breakpoint(medium down) {
        background-color: rgb(255, 255, 255);
        box-shadow: 4px 6.9px 27.3px 2.7px rgba(0, 0, 0, 0.14);
      }
      @include breakpoint(1040 down) {
        flex-direction: column;
        background-color: transparent;
        box-shadow: none;
      }
    }

    &-left {
      max-width: 450px;
      padding: 103px 0 0 13px;
      @include breakpoint(medium down) {
        padding: 50px 0 0 40px;
      }
      @include breakpoint(1040 down) {
        background-color: rgb(255, 255, 255);
        box-shadow: 4px 6.9px 27.3px 2.7px rgba(0, 0, 0, 0.14);
        padding: 0 0 0 40px;
        max-width: 100%;
        display: flex;
        justify-content: space-between;
      }
      @include breakpoint(small down) {
        flex-direction: column;
        align-items: center;
        box-shadow: none;
        padding: 0 40px;
      }
      @include breakpoint(tiny down) {
        padding: 0;
      }



      &-wrap{
        @include breakpoint(small down) {
          display: flex;
          flex-direction: column;
        }
        &:nth-child(2){
          display: none;
          @include breakpoint(1040 down) {
            display: inline-block;
            flex-basis: 340px;
            min-width: 340px;
            padding-right: 20px ;
            margin-top: -50px;
          }
          @include breakpoint(small down) {
            display: none;
          }
          img{
            width: 100%;
          }
        }
      }


      &-title{
        @include breakpoint(1040 down) {
          margin-top: 40px;
        }
        @include breakpoint(small down) {
          order: 1;
          text-align: center;
        }
        h3{
          font-size: 31px;
          font-weight: 900;
          text-transform: uppercase;
          margin-bottom: 60px;
          @include breakpoint(small down) {
            margin-bottom: 15px;
          }
        }
        h4{
          font-size: 24px;
          font-weight: 600;
          margin-bottom: 5px;
        }
      }

      &-text {
        margin-bottom: 80px;
        @include breakpoint(small down) {
          margin-bottom: 50px;
          order: 3;
        }
        p {
          font-size: 24px;
          font-weight: 600;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.25;
          @include breakpoint(small down) {
            text-align: center;
          }
        }
      }

      &-btn {
        position: relative;
        @include breakpoint(small down) {
          order: 2;
          margin-bottom: 15px;
        }

        .button {
          width: 256px;
          font-size: 18px;
          font-weight: 500;
          margin-bottom: 18px;
          @include breakpoint(small down) {
            margin: 0 auto 84px;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
          }
          &:nth-last-child(1) {
            margin-bottom: 0;
          }
        }

        &-img {
          display: none;
          max-width: 225px;
          width: 100%;
          @include breakpoint(small down) {
            text-align: center;
            display: block;
            margin: 0 auto;
          }
        }

        .btn {
          &-buy {
            background-color: $color-btn-red;
            height: 72px;
            transition: background-color .3s;
            &:hover {
              background-color: darken($color-btn-red, 10%);
            }
          }

          &-free {
            background-color: $color-btn-green;
            height: 72px;
            transition: background-color .3s;
            &:hover {
              background-color: darken($color-btn-green, 10%);
            }
          }
        }

      }

    }
    
    &-center {
      position: relative;
      margin-top: -85px;

      @include breakpoint(medium down) {
        min-width: 320px;
      }
      @include breakpoint(1040 down) {
        display: none;
      }


    }

    &-right {
      max-width: 308px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 105px 0 86px;
      margin-left: 60px;
      @include breakpoint(medium down) {
        //padding: 40px 0 180px;
        //max-width: 100%;
        margin-left: 0;
      }
      @include breakpoint(1040 down) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 775px;
        margin: 0 auto;
        padding: 50px 0 0;
      }
      @include breakpoint(small down) {
        display: none;
      }

      &-item {
        padding-left: 100px;
        position: relative;
        @include breakpoint(1040 down) {
          width: 300px;
          margin-bottom: 50px;
        }
        @include breakpoint(small down) {
          width: auto;
          height: 60px;
        }
        @include breakpoint(tiny down) {
          padding-left: 60px;
        }
        p {
          max-width: 200px;
          font-size: 24px;
          font-weight: 700;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.25;
          @include breakpoint(small down) {
            display: none;
          }
        }
      }

    }
  }

}