.header {

}

.teler-wd__trigger .teler-wd__flipper_wrapper {
  background-color: rgb(201, 0, 44) !important;
}
.teler-wd__trigger .teler-wd__tooltip {
  background-color: rgb(201, 0, 44) !important;
}

.teler-wd__trigger .teler-wd__tooltip:after {
  border-top: 12px solid rgb(201, 0, 44) !important;
}

.teler-wd__trigger .teler-wd__flipper-front, .teler-wd__trigger .teler-wd__flipper-back {
  background-color: rgb(201, 0, 44) !important;
}