.info-box_border-top {
  border-top: 1px solid rgba(142, 142, 142, 0.5);
}

.info-box__title-link {
  color: #8e8e8e;
}

.info-box__title-link:hover {
  color: #d72934;
}

.info-box__address {
  font-size: 18px;
  margin-bottom: 10px;
  color: #8e8e8e;
}

.info-box__address-link {
  color: #8e8e8e;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.info-box__address-link:hover {
  color: #d72934;
}

.info-box__address-info {
  font-size: 14px;
}

.info-box__image-i {
  max-width: 100%;
  max-height: 100%;
}

.info-list {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.info-list__item {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 25%;
}

.info-list__item:last-child {
  border-right: 0 none;
}

.info-list__image {
  margin-bottom: 25px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 35px;
}

.info-list__image-i {
  max-width: 100%;
  max-height: 100%;
}

.info-list__title {
  text-align: center;
  color: #8e8e8e;
}

.info-box_border-top,
.info-box_full-width {
  padding-top: 50px;
}

.info-box_full-width .info-box__item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.info-box__item {
  width: 33.333333%;
  margin-right: 15px;

  @include breakpoint(small down){
    width: 100%;
  }
}

.info-box__inner{
  @include breakpoint(small down){
    margin: 0 auto;
    text-align: center;
  }
}

.info-box__title {
  margin-bottom: 10px;
  font-size: 24px;
  color: #8e8e8e;
}

.info-box__image {
  display: inline-block;
  margin-right: 15px;
}

.info-list__item {
  padding-top: 15px;
  padding-bottom: 5px;
  border-right: 1px solid #2d2d2d;
}

.info-box {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 75%;
  margin: 0 100px;

  @include breakpoint(small down){
    flex-wrap: wrap;
  }
}

.info-box_full-width {
  width: 100%;
  margin: 0;
}

.info-box_full-width .info-box__item:first-child {
  padding-left: 40px;

  @include breakpoint(small down){
    padding: 0;
  }
}

.info-box {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.info-list__item {
  padding-left: 10px;
  padding-right: 10px;
}