.invited {
  padding: 100px 0 150px;
  @include breakpoint(medium down) {
    padding: 37px 0 75px;
  }
  @include breakpoint(small down) {
    padding: 37px 0 30px;
  }

  &__title {
    text-align: center;
    width: 100%;
    margin-bottom: 87px;
    @include breakpoint(medium down) {
      margin-bottom: 55px;
    }
    h3 {
      font-weight: 900;
      line-height: 1.39;
      @include breakpoint(small down) {
        font-size: 34px;
      }
      @include breakpoint(tiny down) {
        font-size: 24px;
      }
      @include breakpoint(380 down) {
        font-size: 22px;
      }
    }
  }

  &__content {
    text-align: center;
    @include breakpoint(tiny down) {
      margin-bottom: 55px;
    }

    &.item-2 {
      .invited__content-img {
        @include breakpoint(medium down) {
          width: 70%;
          margin: 0 auto 39px;
        }
      }

    }

    &.item-3 {
      .invited__content-img {
        @include breakpoint(medium down) {
          width: 80%;
          margin: 0 auto 39px;
        }
      }

    }

    &-img {
      margin-bottom: 39px;
     height: 385px;
      position: relative;
      @include breakpoint(1040 down) {
        height: 315px;
      }

      @include breakpoint(small down) {
        height: 370px;
      }

      
      img {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        margin: 0 auto;
      }

    }

    &-name {
      margin-bottom: 10px;

    }

    &-text {
      max-width: 350px;
      margin: 0 auto;

      p {
        font-size: 18px;
        font-weight: 500;
        line-height: 1.67;
      }
    }
  }

}