.knowledge {
    padding: 136px 0 350px 0;
    background-color: #000;
    background-image: url(../images/knowladge_bg.png);
    background-repeat: no-repeat;
    background-size: cover;

    .error-message {
        color: #d72934;
        margin-top: 3px;
        text-align: left;
    }
    @include breakpoint(medium down) {
        padding: 45px 0 400px;
    }
    @include breakpoint(767 down) {
        padding: 45px 0 440px;
    }

    @include breakpoint(760 down) {
        padding: 45px 0 530px;
    }

    @include breakpoint(540 down) {
        padding: 45px 0 500px;
    }

    @include breakpoint(tiny down) {
        padding: 45px 0 810px;
    }

    @include breakpoint(345 down) {
        padding: 45px 0 800px;
    }
    @include breakpoint(327 down) {
        padding: 45px 0 830px;
    }
    .user_agree_subscribe {
        padding: 10px;
    }
    .user_agree_subscribe label , & a{
        color: #999999;
        font-size: 14px;
        font-weight: 500;

        & a:hover {
            color: white;
        }
    }


    &__title {
        max-width: 365px;
        margin-bottom: 57px;
        display: inline-block;
        width: 100%;

        h3 {
            font-size: 24px;
            line-height: 1.22;
            color: #8e8e8e;
            font-weight: 500;
            @include breakpoint(tiny down) {
                font-size: 20px;
            }
        }

        span {
            font-size: 44px;
            line-height: 1.16;
                color: #fff;
            @include breakpoint(tiny down) {
                font-size: 40px ;

            }


        }
    }

    &__content {
        max-width: 636px;
        margin-bottom: 90px;
        @include breakpoint(medium down) {
            margin-bottom: 50px;
            display: inline-block;
            width: 100%;
            max-width: 100%;
        }

        p {
            font-size: 18px;
            line-height: 1.67;
            font-weight: 400;
            letter-spacing: -0.3px;
            color: #8e8e8e;
        }
    }

    &__searchForm {
        margin-bottom: 115px;
        display: inline-block;
        width: 100%;

        p {
            font-size: 24px;
            line-height: 1.75;
            color: #fff;
            font-weight: bold;
            margin-bottom: 25px;

            @include breakpoint(tiny down) {
                text-align: center;
            }
        }

        &__form {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            width: 100%;
            @include breakpoint(small down) {
                flex-direction: column;
                justify-content: space-between;
            }

            &.hide {
                display: none!important;
            }

            .email {
                max-width: 493px;
                height: 74px;
                border: none;
                border-radius: 49px;
                background-color: #fff;
                box-shadow: 0 0 13px 0 rgba(0, 0, 0, .16);
                margin-right: 9px;
                padding: 0 50px;
                flex-grow: 1;

                @include breakpoint(tiny down) {
                    min-width: unset;
                    width: 90%;
                    margin-right: auto;
                    margin-left: auto;
                    padding: 0 40px;
                }
            }

            button {
                min-width: 264px;
                height: 74px;
                border-radius: 36.1px;
                background-color: $color-btn-red;
                box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.16);
                color: #fff;
                font-weight: 500;

                @include breakpoint(small down) {
                    min-width: unset;
                    width: 100%;
                    max-width: 493px;
                    margin-top: 25px;
                }

                @include breakpoint(tiny down) {
                    min-width: unset;
                    width: 90%;
                    margin-top: 25px;
                    margin-right: auto;
                    margin-left: auto;
                }

                a {
                    display: block;
                    height: 100%;
                    line-height: 4;
                    text-decoration: none;
                }
            }
        }


    }

    .subscribe-box {
        &__form {

            &-message {
                color: #d72934;
                margin-top: 3px;
                text-align: left;
                font-size: 18px;
            }

            &-success {
                font-size: 36px;
                color: #818181;
                @include breakpoint(tiny down) {
                    font-size: 30px;
                }
            }
        }
    }


}
