.opinion {
  padding: 92px 0 0;
  @include breakpoint(medium down) {
    padding: 50px 0;
    background: black
  }
  @include breakpoint(small down) {
    padding: 50px 0 85px;
    background: black
  }
  @include breakpoint(tiny down) {
   padding: 0 0 85px;
    background: black
  }

  &__title {
    margin-bottom: 55px;
    width: 100%;
    h3 {
      text-align: center;
      font-weight: 900;
    }
  }

  &__wrap {
    display: inline-block;
    width: 100%;
    background-color: #000;
    color: #fff;
  }

  &__slider {
    display: inline-block;
    width: 100%;
    padding: 0 50px;
    @include breakpoint(1040 down) {
      padding: 0 15px;
    }

    &-item {
      display: flex!important;
      justify-content: space-between;
      position: relative;
      width: 100%;
      padding: 103px 0;
      @include breakpoint(1040 down) {
        padding: 70px 0;
      }
      @include breakpoint(small down) {
        padding: 0 15px;
      }
      @include breakpoint(tiny down) {
        padding: 0;
      }
      .item {


        &__content {

          max-width: 700px;
          padding-left: 53px;
          position: relative;
          z-index: 10;
          @include breakpoint(medium down) {
            max-width: 600px;
          }
          @include breakpoint(1040 down) {
            max-width: 100%;
            padding: 0 50px;
          }
          @include breakpoint(small down) {
            padding: 50px 0;
            min-height: 545px;
          }
          @include breakpoint(tiny down) {
            padding-bottom: 160px;
            min-height: 540px;
            display: flex;
            flex-direction: column;
          }
          @include breakpoint(480 down) {
           min-height: 580px;
          }
          @include breakpoint(440 down) {
           min-height: 600px;
          }
          @include breakpoint(400 down) {
           min-height: 670px;
          }

          &-name {
            margin-bottom: 15px;
            @include breakpoint(1040 down) {
              max-width: 570px;
            }
            @include breakpoint(small down) {
              max-width: 440px;
            }
          }

          &-text {
            font-size: 18px;
            font-weight: 500;
            line-height: 1.97;
            color: #8e8e8e;
            @include breakpoint(1040 down) {
              max-width: 570px;
            }
            @include breakpoint(small down) {
              max-width: 75%;
            }
            @include breakpoint(tiny down) {
              max-width: 100%;
            }
          }

          &-comment {
            @include breakpoint(tiny down) {
              flex-basis: 100%;
            }
            p{
              font-weight: 500;
              margin-bottom: 80px;
              font-size: 24px;
              line-height: 1.23;
              color: #8e8e8e;
              @include breakpoint(small down) {
                margin-bottom: 100px;
              }
              @include breakpoint(tiny down) {
                margin-bottom: 50px;
                font-size: 18px;
              }

            }

          }

        }

        &__photo {
          display: flex;
          align-items: center;
          position: absolute;
          right: 0;
          top: 50px;
          z-index: 5;

          @include breakpoint(1040 down) {
            position: absolute;
            border-radius: 50%;
            width: 180px;
            height: 180px;
            overflow: hidden;
            background-color: #000;
            right: 25px;
            bottom: 25px;
            top: inherit;
            display: flex;
            justify-content: center;
            align-items: flex-start;
          }

          @include breakpoint(tiny down) {
            width: 120px;
            height: 120px;
            right: 0;
            left: 0;
            bottom: 10px;
            margin: 0 auto;

          }

          img {
            @include breakpoint(small down) {
              height: 100%;
            }
            @include breakpoint(tiny down) {
              width: 100%;
              height: auto;
            }

          }
        }

      }
    }

    .slick-prev {
      left: 25px;
      @include breakpoint(small down) {
        left: 33%;
      }

    }

    .slick-next {
      right: 25px;
      @include breakpoint(small down) {
        right: 35%;
      }


    }

    .slick-prev, .slick-next {
      color:white;
      position: absolute;
      display: block;
      width: 30px;
      height: 55px;
      line-height: 0;
      font-size: 0;
      cursor: pointer;
      top: 46%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      padding: 0;
      border: none;
      z-index: 1000;
      @include breakpoint(small down) {
        top: inherit;
        bottom: -100px;
      }

      &:before {
        content: '';
        width: 30px;
        height: 55px;
        font-family: 'icons';
        font-size: 46px;
        line-height: 1;

        opacity: .75;
        -webkit-font-smoothing: antialiased;
        @include breakpoint(small down) {
          color: white;
        }
      }
    }

    .slick-prev {

      &:before {
        content: "\E903";
        display: inline-block;

      }
    }

    .slick-next{

      &:before {
        content: "\E904";
       display: inline-block;

      }
    }
  }

  .opinion__slider-counter{
    display: none;
    color: #8e8e8e;
    position: absolute;
    @include breakpoint(tiny down) {
      display:block;
      left:47%;
      bottom:28px
    }
    @include breakpoint(small down) {
      display:block;
      left:48%;
      bottom:28px
    }
  }

  .opinion__title{
    @include breakpoint(medium down) {
      color:white;
    }
    @include breakpoint(small down) {
      padding-top:50px;
    }
  }

}