.problems {
  padding: 32px 0 162px;
  @include breakpoint(medium down) {
    padding: 32px 0 90px;
  }
  @include breakpoint(small down) {
    padding: 15px 0;
  }


    &__title {
      text-align: center;
      margin-bottom: 155px;
      @include breakpoint(small down) {
        margin-bottom: 100px;
      }

      h3 {
        font-weight: 900;
      }
    }

    &__content {
      @include breakpoint(medium down) {
        margin: 0 auto 70px;
      }
      @include breakpoint(small down) {
        max-width: 380px;
        margin: 0 auto 110px;
      }

      &-title {
        text-align: center;
        position: relative;
        margin-bottom: 22px;
        vertical-align: baseline;
        @include breakpoint(small down) {
          margin-bottom: 15px;
        }

        h3 {
          position: relative;
          padding-left: 55px;
          display: inline-block;
        }

        span {
          position: absolute;
          color: $color-btn-red;
          font-size: 113px;
          line-height: 0.88;
          left: -20px;
          bottom: 5px;
        }
      }

      &-text {

        text-align: center;
        font-size: 18px;
        font-weight: 500;
        max-width: 240px;
        margin: 0 auto;

      }

    }


}