.program {
    padding: 84px 0 103px;
    background-color: #000;
    color: #fff;
    @include breakpoint(medium down) {
        padding: 84px 0 115px;
    }
    @include breakpoint(tiny down) {
        padding: 35px 0 70px;
    }

    &__title {
        text-align: center;
        width: 100%;
        margin-bottom: 44px;
        h3 {
            font-weight: 900;
        }


    }

    &__content {
        border: 2px solid #e7ebef;
        padding: 115px 80px 76px;
        box-shadow: 4px 6.9px 27.3px 2.7px rgba(0, 0, 0, 0.06);
        @include breakpoint(medium down) {
            padding: 67px 30px 105px;
        }
        @include breakpoint(small down) {
            border: none;
        }
        @include breakpoint(tiny down) {
            padding: 50px 20px 75px;
        }

        &-title {
            margin-bottom: 105px;
            @include breakpoint(tiny down) {
                margin-bottom: 45px;
            }
            h3 {
                font-weight: 900;
                @include breakpoint(small down) {
                    font-weight: 500;
                    font-size: 30px!important;
                }
            }
        }

        &-accordion {

            &.viewall {
                .accordion {
                    > li {
                        display: block;
                        &:nth-last-child(1) {
                            padding-top: 40px;
                        }
                    }
                    button {
                        display: none;
                    }
                }
            }

            .accordion {
                margin: 0;
                padding: 0;
                display: inline-block;
                width: 100%;
                list-style: none;

                > li {
                    display: none;
                    padding-top: 40px;
                    padding-bottom: 40px;
                    border-bottom: 1px solid #282828;
                    &:nth-child(1) {
                        display: block;
                        padding-top: 0;
                    }
                    &:nth-last-child(1) {
                        display: block;
                        padding-top: 0;
                        border-bottom: none;
                    }
                }

                &__title {
                    display: inline-block;
                    width: 100%;

                    h3 {
                        @include breakpoint(tiny down) {
                            font-size: 36px;
                        }
                    }

                    &.active {
                        .accordion__content {
                            display: inline-block;
                        }

                        .h3 {
                            &:before {
                                content: "\E902";
                                transform: rotate(0deg);
                            }
                        }
                    }

                    .h3 {
                        font-size: 36px;
                        font-weight: 900;
                        display: inline-block;
                        position: relative;
                        width: 234px;
                        margin-bottom: 4px;
                        &:before {
                            content: "\E901";
                            font-family: 'icons';
                            transition: transform .4s;
                            background-repeat: no-repeat;
                            width: 28px;
                            height: 18px;
                            display: inline-block;
                            position: absolute;
                            right: 0;
                            top: 6px;
                            font-size: 26px;
                        }
                        &.empty:before {
                            display: none;
                        }
                        @include breakpoint(small down) {
                            font-weight: 500;
                            font-size: 30px;
                        }
                    }

                    .sub {
                        font-size: 24px;
                        font-weight: 500;
                        display: inline-block;
                        width: 100%;
                        color: #8e8e8e;
                    }
                }

                &__content {
                    display: none;
                    padding: 27px 0;

                    ul {
                        display: inline-block;
                        width: 100%;
                        padding: 0;
                        max-width: 900px;
                    }

                    li {
                        display: inline-block;
                        width: 100%;
                        position: relative;
                        padding-left: 30px;
                        font-size: 18px;
                        font-weight: 500;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 2.14;
                        &:before {
                            content: '•';
                            display: inline-block;
                            color: #c9171d;
                            position: absolute;
                            left: 0;
                            top: -10px;
                            font-size: 25px;
                        }
                    }

                }
            }

            .btn-more {
                margin: 20px 0 0;
                position: relative;
                display: inline-block;
                width: 100%;
                height: 100%;
                .line {
                    height: 1px;
                    width: 100%;
                    background-color: #282828;
                    margin-bottom: 21px;
                    display: block;
                    &:nth-last-child(1) {
                        margin-bottom: 0;
                    }
                }

                .text {
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    max-width: 550px;
                    height: 70px;
                    background-color: #000;
                    color: #fff;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    text-align: center;
                    margin: 0 auto;
                    font-size: 18px;
                    font-weight: bold;
                    line-height: 1.5;

                }
            }

        }

    }

}

