.question {
  background-color: #000;
  padding: 73px 0 115px;
  color: #fff;
  @include breakpoint(small down) {
    padding: 35px 0 70px;
  }
  &__title {
    text-align: center;
    font-weight: 900;
    line-height: 1.39;
    width: 100%;
    margin-bottom: 58px;
    @include breakpoint(small down) {
      margin-bottom: 35px;
    }

  }

  &__content {
    width: 100%;

    .accordion {
        margin: 0;
        padding: 0;
        display: inline-block;
        width: 100%;
        list-style: none;
      @include breakpoint(small down) {
        width: calc(100% + 30px);
        margin-left: -15px;
        margin-right: -15px;
      }

      li{
        border:2px solid #e7ebef;
        border-bottom: none;
        width: 100%;
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
        @include breakpoint(small down) {
          border: none;
          border-top: 2px solid #e7ebef;
          //border-bottom: 2px solid #e7ebef;
        }
        &:nth-last-child(1){
          border-bottom: 2px solid #e7ebef;
        }
      }

        &__title {
          display: inline-block;
          width: 100%;
          padding: 32px 80px 25px;
          transition: color .3s;


          @include breakpoint(small down) {
            padding: 32px 50px 25px 40px;
            color: #cecece;
            font-size: 20px;
          }
          @include breakpoint(tiny down) {
            padding: 32px 40px 25px;
          }
          @include breakpoint(380 down) {
            padding: 32px 15px 25px;
          }
          &:hover {
            .h4 {
              color: #cd1016;
            }
          }


          &.active {
            .accordion__content {
              display: inline-block;
            }

            .h4 {
              &:before {
                transform: rotate(0deg);

              }
            }
          }


          .h4 {
            font-size: 24px;
            font-weight: 600;
            display: inline-block;
            position: relative;
            width: 100%;
            margin-bottom: 4px;
            padding-right: 40px;
            @include breakpoint(small down) {
              font-weight: 500;
              font-size: 20px;
            }
            @include breakpoint(380 down) {
              font-size: 18px;
            }
            &:before {
              content: '';
              background-image: url(../images/arrow.png);
              transform: rotate(180deg);
              -webkit-transition: transform .4s;
              -moz-transition: transform .4s ;
              -ms-transition: transform .4s ;
              -o-transition: transform .4s ;
              transition: transform .4s ;
              background-repeat: no-repeat;
              width: 28px;
              height: 18px;
              display: inline-block;
              position: absolute;
              right: 0;
              top: 10px;
              @include breakpoint(small down) {
                right: -20px;
              }
              @include breakpoint(380 down) {
                right: 0;
              }

            }
          }
        }


        &__content {
          display: none;
          padding: 27px 80px 64px;
          @include breakpoint(small down) {
            padding: 27px 50px 64px 40px;
          }
          @include breakpoint(380 down) {
            padding: 25px 20px 25px;
          }
          p {
            font-size: 18px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.67;
            margin-bottom: 15px;
            @include breakpoint(380 down) {
              font-size: 15px;
            }
          }


        }
      }

  }

}