.technique {
  display: inline-block;
  padding: 134px 0;
  width: 100%;
  height: 1200px;
  background: url(../images/technique-bg.jpg) no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  background-position: 50% 100%;
  @include breakpoint(1365 down) {
    height: 810px;
    padding-top: 70px;
    padding-bottom: 0;
  }
  @include breakpoint(medium down) {
    padding-top: 60px;
    background-position: 30% 40%;
  }
  @include breakpoint(910 down) {
    background-position: 100% 40%;
  }
  @include breakpoint(small down) {
    background: url(../images/technique-bg-2.jpg) no-repeat;
    -webkit-background-size: cover;
    height: auto;
  }

  


  &__title {
    margin-bottom: 52px;
    max-width: 450px;

    h3{
      font-weight: 900;
      line-height: 1.25;
      @include breakpoint(tiny down) {
        text-align: center;
      }
    }

  }

  &__content {
    @include breakpoint(small down) {
      margin-bottom: 55px;
    }

    p{
      font-size: 18px;
      margin-bottom: 35px;
      font-weight: 500;
    }

  }

}