.video {
  padding: 82px 0;
  @include breakpoint(medium down) {
    padding: 96px 0;
  }
  @include breakpoint(tiny down) {
    padding: 40px 0;
  }
  
  &__content {
    width: 100%;
  }

}


.header__account-label.comment {
  border: 1px solid black;
  padding: 17px;
  display: flex;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  margin-left: 0px;
}
.header__account-label.comment .header__account-caret {
  display: none;
}

.hcc {
  box-shadow: none!important;
  font-family: 'Avenir Next Cyr', sans-serif!important;
}

.hypercomments_comment_div {
  padding-top: 28px;
}

.hc__right {
  padding: 10px 0!important;
}

.hcc:hover {
  box-shadow: none!important;
}
.hcc.hc__form__send {
  background: #58a55d!important;
}
.hcc.hc__menu__viewerbox {
  display: none;
}

.hc__message__comment {
  margin-left: 50px!important;
}
.hcc.hc__form .hcc.hc__reply__photo svg {
  width: 50px;
  height: 50px;
}
.hcc.hc__footer__r {
  display: none;
}
.hcc.hc__authorization__soc div svg {
  box-shadow: none!important;
}
.hcc.hc__avatar svg{
  width: 35px;
  height: 35px;
}
.hcc.hc__authorization__send__txt {
  background: #58a55d;
  color: #fff!important;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  height: 27px;
  line-height: 27px;
  padding: 0 10px;
  display: inline-block;
  -o-border-radius: 2px;
  -moz-border-radius: 2px;
  -khtml-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.hcc.hc__authorization__send__img svg {
  display: none;
}
.hcc.hc__top__share__g.hc__top__share__item {
  display: none;
}
.hcc.hc__top__share__v.hc__top__share__item {
  display: none;
}
.hcc.hc__top__share__t.hc__top__share__item {
  display: none;
}
@media (max-width: 767px) {
  .hypercomments_comment_div {
    margin: 0 7px 0 7px;
  }
}

@media (max-width: 430px) {
  .hc__reply__box__textarea, .hc__reply__box textarea {
    height: 60px!important;
  }


}