<div class="info-box {{ parent_class }}">
  <div class="info-box__item">
	<div class="info-box__inner">
	  <div class="info-box__title">
		<a class="info-box__title-link scroll-link" href="{{ route('index', ['/#section-faq']) }}">Вопросы и ответы</a>
	  </div>
	</div>
  </div>
  <div class="info-box__item">
	<div class="info-box__inner">
	  <div class="info-box__title visible-desktop">Поддержка</div>
	  <div class="info-box__content">
		<div class="info-box__address">
		  <a class="info-box__address-link" href="mailto:info@superludi.com">info@superludi.com</a>
		</div>
		<div class="info-box__address">
		  <a class="info-box__address-link" href="tel:0800210791">0 800 210 791 (Украина)</a>
			<div class="info-box__address-info">бесплатно по Украине</div>
		</div>
		<div class="info-box__address">
		  <a class="info-box__address-link" href="tel:+74997031623">+7(499) 703 16 23 (СНГ)</a>
		</div>
	  </div>
	</div>
  </div>
  <div class="info-box__item">
	<div class="info-box__inner">
	  <div class="info-box__title visible-desktop">Мы принимаем</div>
	  <div class="info-box__content">
		<div class="info-box__image">
		  <img class="info-box__image-i" src="/assets/i/master-card-logo.png" alt="" role="presentation">
		</div>
		<div class="info-box__image">
		  <img class="info-box__image-i" src="/assets/i/visa-logo.png" alt="" role="presentation">
		</div>
	  </div>
	</div>
  </div>
</div>
