{% if packages and (not authUser or (authUser and is_not_payed)) %}
<section id="section-packages" class="packages {% block packages_class%}{% endblock %}">
	<h2 class="packages__title content-title">Выберите свой формат</h2>
	<div class="packages__list">
		{% if packages.cheap %}
		<div class="packages__list-item animate-el fadeInUp" data-wow-delay="0.1s">
			<div class="package-box">
				<div class="package-box__header">
					<div class="package-box__title">Пакет</div>
					<div class="package-box__label">{{ packages.cheap.name }}</div>
				</div>
				<div class="package-box__text">
					<p>видеокурс ПАПА БРЕНДА</p>
					<p>дополнительные материалы (PDF)</p>
				</div>
				<div class="package-box__footer">
					<div class="package-box__price">${{ packages.cheap.price|number_format(0, '.', ' ') }}</div>
					{% if episode_count and is_not_payed %}
						{% if is_cabinet %}
							{#<a class="package-box__button package-box__button_buy btn btn-bordered btn-bordered-grey" href="{{ route('video_pay', {'package': packages.cheap.code }) }}">Купить</a>#}
						{% else %}
							{#<a course-all="{{ packages.cheap.code }}" id="package_{{ packages.cheap.code }}" class="package-box__button package-box__button_buy btn btn-bordered btn-bordered-grey" href="#{{ authUser ? 'modal-buy-course-second-step' : 'modal-buy-course' }}" data-toggle="modal">Купить</a>#}
						{% endif %}
					{% endif %}
					{% if not is_cabinet %}
						{% if not authUser %}
							{#<a class="package-box__button package-box__button_play btn btn-bordered btn-bordered-grey btn-bordered-watch" href="#modal-registration" data-toggle="modal">Бесплатный урок</a>#}
						{% elseif authUser and is_not_payed %}
							{#<a class="package-box__button package-box__button_play btn btn-bordered btn-bordered-grey btn-bordered-watch" href="{{ route('video_list') }}">Бесплатный урок</a>#}
						{% endif %}
					{% endif %}
				</div>
			</div>
		</div>
		{% endif %}
		{% if packages.good %}
		<div class="packages__list-item animate-el fadeInUp" data-wow-delay="0.2s">
			<div class="package-box">
				<div class="package-box__header">
					<div class="package-box__title">Пакет</div>
					<div class="package-box__label">{{ packages.good.name }}</div>
				</div>
				<div class="package-box__text">
					<p>видеокурс ПАПА БРЕНДА</p>
					<p>дополнительные материалы (PDF)</p>
					<p>закрытая группа в Facebook (поддержка, ответы на вопросы консультанта по брендингу)</p>
					<p>раз в месяц (12 раз за год) - часовой live от Андрея Федорива</p>
				</div>
				<div class="package-box__footer">
					<div class="package-box__price">${{ packages.good.price|number_format(0, '.', ' ') }}</div>
					{% if episode_count and is_not_payed %}
						{% if is_cabinet %}
							{#<a class="package-box__button package-box__button_buy btn btn-bordered btn-bordered-grey" href="{{ route('video_pay', {'package': packages.good.code }) }}">Купить</a>#}
						{% else %}
							{#<a course-all="{{ packages.good.code }}" id="package_{{ packages.good.code }}" class="package-box__button package-box__button_buy btn btn-bordered btn-bordered-grey" href="#{{ authUser ? 'modal-buy-course-second-step' : 'modal-buy-course' }}" data-toggle="modal">Купить</a>#}
						{% endif %}
					{% endif %}
					{% if not is_cabinet %}
						{% if not authUser %}
							{#<a class="package-box__button package-box__button_play btn btn-bordered btn-bordered-grey btn-bordered-watch" href="#modal-registration" data-toggle="modal">Бесплатный урок</a>#}
						{% elseif authUser and is_not_payed %}
							{#<a class="package-box__button package-box__button_play btn btn-bordered btn-bordered-grey btn-bordered-watch" href="{{ route('video_list') }}">Бесплатный урок</a>#}
						{% endif %}
					{% endif %}
				</div>
			</div>
		</div>
		{% endif %}
		{% if packages.premium %}
		<div class="packages__list-item animate-el fadeInUp" data-wow-delay="0.3s">
			<div class="package-box">
				<div class="package-box__header">
					<div class="package-box__title">Пакет</div>
					<div class="package-box__label">{{ packages.premium.name }}</div>
				</div>
				<div class="package-box__text">
					<p>видеокурс ПАПА БРЕНДА</p>
					<p>дополнительные материалы (PDF)</p>
					<p>закрытая группа в Facebook (поддержка, ответы на вопросы консультанта по брендингу)</p>
					<p>раз в месяц (12 раз за год) - часовой live от Андрея Федорива</p>
					<p>Двухчасовая Skype-консультация от Андрея Федорива (если в Киеве, возможна личная встреча)</p>
				</div>
				<div class="package-box__footer">
					<div class="package-box__price">${{ packages.premium.price|number_format(0, '.', ' ') }}</div>
					{% if episode_count and is_not_payed %}
						{% if is_cabinet %}
							{#<a class="package-box__button package-box__button_buy btn btn-bordered btn-bordered-grey" href="{{ route('video_pay', {'package': packages.premium.code }) }}">Купить</a>#}
						{% else %}
							{#<a course-all="{{ packages.premium.code }}" id="package_{{ packages.premium.code }}" class="package-box__button package-box__button_buy btn btn-bordered btn-bordered-grey" href="#{{ authUser ? 'modal-buy-course-second-step' : 'modal-buy-course' }}" data-toggle="modal">Купить</a>#}
						{% endif %}
					{% endif %}
					{% if not is_cabinet %}
						{% if not authUser %}
							{#<a class="package-box__button package-box__button_play btn btn-bordered btn-bordered-grey btn-bordered-watch" href="#modal-registration" data-toggle="modal">Бесплатный урок</a>#}
						{% elseif authUser and is_not_payed %}
							{#<a class="package-box__button package-box__button_play btn btn-bordered btn-bordered-grey btn-bordered-watch" href="{{ route('video_list') }}">Бесплатный урок</a>#}
						{% endif %}
					{% endif %}
				</div>
			</div>
		</div>
		{% endif %}
	</div>
	<div class="package__message_pay">При осуществлении оплаты картой Visa, Mastercard необходимо учитывать конвертацию валюты, а также скрытые комиссии банка.<br> Обращаем ваше внимание, что все взаиморасчеты происходят в национальной валюте. </div>

</section>
{% endif %}
